@model IdeationViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Nieuw Ideation</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<br/>
<h2 class="text-center">Ideation aanmaken</h2>
<div id="textColor">
    <form id="formCreateIdeation" asp-controller="Project" asp-action="CreateIdeationFase" method="post" enctype="multipart/form-data">

        <div class="form-group">

            <label asp-for="Type" class="control-label">Ideation Type</label>

            <select asp-for="Type"
                    asp-items="@(new SelectList(Enum.GetValues(typeof(PoC.Domain.datatype.IdeationType))))"
                    class="form-control">
            </select>

        </div>

        <div class="form-group">

            <label asp-for="TitleIdeation" class="control-label">Titel Ideation</label>
            <input asp-for="TitleIdeation" class="form-control"/>
            <span asp-validation-for="TitleIdeation" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="DescriptionIdeation" class="control-label">Beschrijving</label>
            <textarea asp-for="DescriptionIdeation" class="form-control"></textarea>
            <span asp-validation-for="DescriptionIdeation" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="Begin" class="control-label">BeginDatum</label>
            <input asp-for="Begin" class="form-control"/>
            <span asp-validation-for="Begin" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="End" class="control-label">EindDatum</label>
            <input asp-for="End" class="form-control"/>
            <span asp-validation-for="End" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="BackgroundLink" class="control-label">(Optioneel) Link Extra Info</label>
            <input asp-for="BackgroundLink" type="url" class="form-control"/>

        </div>

        <div class="form-group">

            <label asp-for="ImageIdeation" class="control-label">Afbeelding</label>
            <input id="imageCreateIdeation" accept=".jpg,.jpeg,.png" asp-for="ImageIdeation" class="form-control"/>
            <span id="createImageIdeationValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>

        </div>

        <div class="form-group">

            <h3>Configuratie van de ideeën</h3>

        </div>

        <div class="form-group">


            <table class="table w-100" id="textColor">
                <tr>
                    <td class="col-sm-3">Item</td>
                    <td class="col-sm-3">Toegelaten?</td>
                    <td class="col-sm-3">Hoeveel</td>
                    <td class="col-sm-3">Verplicht?</td>
                </tr>
                <tr>
                    <td class="col-sm-3">
                        <label class="form-control">Afbeelding</label>
                    </td>
                    <td class="col-sm-3">
                        <input type="checkbox" asp-for="AllowImage" value="true" class="form-control checkImage"/>
                    </td>
                    <td class="col-sm-3">
                        <input type="number" asp-for="NumberOfImages" max="10" min="1" class="form-control imgDisable" disabled/>
                    </td>
                    <td class="col-sm-3">
                        <input type="checkbox" asp-for="ImageRequired" value="true" class="form-control imgDisable" disabled/>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-3">
                        <label class="form-control">Video</label>
                    </td>
                    <td class="col-sm-3">
                        <input type="checkbox" asp-for="AllowVideo" value="true" class="form-control checkVideo"/>
                    </td>
                    <td class="col-sm-3">
                        <input type="number" asp-for="NumberOfVideos" max="10" min="1" class="form-control vidDisable" disabled/>
                    </td>
                    <td class="col-sm-3">
                        <input type="checkbox" asp-for="VideoRequired" value="true" class="form-control vidDisable" disabled/>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-3">
                        <label class="form-control">VideoLink</label>
                    </td>
                    <td class="col-sm-3">
                        <input type="checkbox" asp-for="AllowVideoLink" value="true" class="form-control checkVideoLink"/>
                    </td>
                    <td class="col-sm-3">
                    </td>
                    <td class="col-sm-3">
                        <input type="checkbox" asp-for="VideoLinkRequired" value="true" class="form-control vidLinkDisable" disabled/>
                    </td>
                </tr>
            </table>
        </div>



        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="submit" id="createIdeationbtn" value="Maak nieuwe Ideation" class="btn btn-outline-dark"/>

        @*
    <div class="form-group">
        
        <label asp-for="AllowImage" class="control-label">Afbeeldingen toelaten?</label>
        <input type="checkbox" asp-for="AllowImage" value="true"/>
        
    </div>
    
    <div class="form-group">
        
        <label asp-for="AllowVideo" class="control-label">Videos toelaten?</label>
        <input type="checkbox" asp-for="AllowVideo" value="true"/>
        
    </div>
    
    <div class="form-group">
        
        <label asp-for="AllowVideoLink" class="control-label">Video links toelaten?</label>
        <input type="checkbox" asp-for="AllowVideoLink" value="true"/>
        
    </div>
    *@
    </form>
</div>
</body>
</html>