@model FaseViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Nieuw Fase</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<h3>Fase aanmaken</h3>
<form asp-controller="Project" asp-action="CreateFaseProject" method="post" id="textColor">


    <div class="form-group">

        <label asp-for="FaseName" class="control-label">Fase Naam</label>
        <input asp-for="FaseName" class="form-control"/>
        <span asp-validation-for="FaseName" class="text-danger"></span>
        
    </div>
    
    <div class="form-group">

        <label asp-for="ProjectFase" class="control-label">Fase Type</label>
        <select asp-for="ProjectFase"
                asp-items="@(new SelectList(Enum.GetValues(typeof(PoC.Domain.datatype.ProjectFase))))"
                class="form-control"> 
        </select>

    </div>
    
    <div class="form-group">

        <label asp-for="Begin" class="control-label">Startdatum</label>
        <input asp-for="Begin" class="form-control"/>
        <span asp-validation-for="Begin" class="text-danger"></span>
    </div>
    
    <div class="form-group">

        <label asp-for="End" class="control-label">Einddatum</label>
        <input asp-for="End" class="form-control"/>
        <span asp-validation-for="End" class="text-danger"></span>
        
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="submit" class="btn btn-primary"value="Maak nieuwe fase"/>
</form>

</body>
</html>