@model QuestionListViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Nieuwe Vragenlijst </title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<br/>
<h2> Maak Vragenlijst </h2>
<form asp-controller="Project" asp-action="CreateQuestionListFase" method="post">
    <div class="form-horizontal" id="textColor">
        <div class="form-group" >

            <label asp-for="Title" class="control-label">Titel</label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="Description" class="control-label">Beschrijving</label>
            <input asp-for="Description" class="form-control"/>
            <span asp-validation-for="Description" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="Begin" class="control-label">BeginDatum</label>
            <input asp-for="Begin" class="form-control"/>
            <span asp-validation-for="Begin" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="End" class="control-label">EindDatum</label>
            <input asp-for="End" class="form-control"/>
            <span asp-validation-for="End" class="text-danger" ></span>

        </div>
        
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="submit" class="btn"value="Maak nieuwe vragenlijst"/>
    </div>

</form>
</body>
</html>