@model PoC.Models.ProjectViewModel

@{

    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Nieuw Project</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<h3>Nieuw Project Aanmaken</h3>

<form id="formCreateProject" asp-controller="Project" asp-action="CreateProject" method="post" enctype="multipart/form-data">
    <div id="textColor">
    <div class="form-group">

        <label asp-for="Name" class="control-label">Project Naam</label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>


    <div class="form-group">

        <label asp-for="MainQuestion" class="control-label">Hoofdvraag</label>
        <input asp-for="MainQuestion" class="form-control"/>
        <span asp-validation-for="MainQuestion" class="text-danger"></span>
    </div>

    <div class="form-group">

        <label asp-for="Description" class="control-label">Beschrijving</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    
    <div class="form-group">

        <label asp-for="Category" class="control-label">Categorie</label>
        <select asp-for="Category"
                asp-items="@(new SelectList(Enum.GetValues(typeof(PoC.Domain.datatype.Category))))"
                class="form-control"> 
        </select>
    </div>

    <div class="form-group">

        <label asp-for="Begin" class="control-label">Startdatum</label>
        <input asp-for="Begin" class="form-control"/>
        <span asp-validation-for="Begin" class="text-danger"></span>
    </div>

    
    
    <div class="form-group">

        <label asp-for="End" class="control-label">Einddatum</label>
        <input asp-for="End" class="form-control"/>
        <span asp-validation-for="End" class="text-danger"></span>
        
    </div>
    
    <div class="form-group">

        <label asp-for="ImageCreateProject" class="control-label">Afbeelding</label>
        <input id="imageCreateProject" accept=".jpg,.jpeg,.png" asp-for="ImageCreateProject" class="form-control"/>
        <span id="createImageProjectValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>
    </div>
    
    <h4>Fase</h4>
    
    <div class="form-group">

        <label asp-for="Fase.FaseName" class="control-label">Fase Naam</label>
        <input asp-for="Fase.FaseName" class="form-control"/>
        <span asp-validation-for="Fase.FaseName" class="text-danger"></span>
        
    </div>
    
    <div class="form-group">

        <label asp-for="Fase.ProjectFase" class="control-label">Fase Type</label>
        <select asp-for="Fase.ProjectFase"
                asp-items="@(new SelectList(Enum.GetValues(typeof(PoC.Domain.datatype.ProjectFase))))"
                class="form-control"> 
        </select>

    </div>
    
    <div class="form-group">

        <label asp-for="Fase.Begin" class="control-label">Startdatum</label>
        <input asp-for="Fase.Begin" class="form-control"/>
        <span asp-validation-for="Fase.Begin" class="text-danger"></span>
    </div>

    
    
    <div class="form-group">

        <label asp-for="Fase.End" class="control-label">Einddatum</label>
        <input asp-for="Fase.End" class="form-control"/>
        <span asp-validation-for="Fase.End" class="text-danger"></span>
        
    </div>
    
    <div asp-validation-summary="All" class="text-danger"></div>
    <input id="createProjectbtn" type="submit" value="Project aanmaken"/>
    </div>
</form>

</body>
</html>



