@using PoC.Domain.inputmethod
@using Microsoft.AspNetCore.Identity
@using PoC.Areas.Identity.Data
@using PoC.BL.manager.input
@using PoC.BL.manager.organisation
@using PoC.BL.manager.user
@model PoC.Domain.project.Project
@inject SignInManager<PoCIdentityUser> SignInManager
@inject UserManager<PoCIdentityUser> UserManager
@inject IOrganisationManager OrganisationManager
@inject IInputManager InputManager

@inject IUserManager RealUserManager
@{
    var org = Context.Request.Path.Value.Split("/")[1];
    var organisation = OrganisationManager.GetOrganisationByName(org.ToUpper()).Projects.ToList();
    var projectPath = ViewData["projectImage"];
    var imageSource = "~/organisations/" + @projectPath + "/organisation/projects/images/" + Model.ImageName;
    organisation.Remove(Model);
}
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v3.3"></script>

    <title>Project: @Model.Name</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<br/>
@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin"))) {
    <h3>Afgesloten fases: </h3>
    foreach (var pastfase in Model.PastFases) {
        <table class="table table-striped" id="textColor">
            
            <tr>
                <th>Fase</th>
                <th>Opties</th>
            </tr>
            <tr>
                <td>@pastfase.ProjectFase.ToString().ToLower()</td>
                <td>
                    <a class="btn btn-primary" asp-action="InputMethodsPastFase" asp-route-id="@pastfase.Id">Meer Info</a>
                </td>
            </tr>
        </table>
    }
}
<br/>
<div class="container">
    <h1 class="my-4 text-center">
        @Model.Name
    </h1>
    <div class="row">
        <div class="col-md-8">
            <img class="img-fluid " id="projectDetail" src="@Url.Content(imageSource)" alt="">
        </div>
        <div class="col-md-4 greenBackground">
            <h3 class="my-3">Doelstelling</h3>
            <p>@Model.Description</p>
            <h3 class="my-3">Project Details</h3>
            <ul>
                <section class="form-inline" id="sectie_like_share">
                    <li>
                        <p class="d-inline">
                            Aantal keer geliked:
                            <a id="like_@Model.Id">
                                <i class="number_likes_shares " id="number-likes_@Model.Id">@Model.Likes.Count()</i>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="d-inline">
                            Aantal keer gedeeld:
                            <a id="share_@Model.Id">
                                <i class="number_likes_shares" id="number-shares_@Model.Id">@Model.Shares.Count()</i>
                            </a>
                        </p>
                    </li>

                </section>
            </ul>
            @if (SignInManager.IsSignedIn(User)) {
                if (InputManager.GetLikesOfUser(UserManager.GetUserId(User)).Count(l => Model.Likes.Contains(l)) == 0) {
                    <div class="like-content text-center">
                        <a class="btn-secondary like-review like-project" pid="@Model.Id" uid="@UserManager.GetUserId(User)">
                            <i class="fa fa-heart" aria-hidden="true" pid="@Model.Id" uid="@UserManager.GetUserId(User)"></i> Vind ik leuk
                        </a>
                    </div>
                }
                else {
                    <div class="like-content text-center">
                        <a class="w3-button w3-green">Je hebt dit al leuk gevonden</a>
                    </div>
                }
            }
            else {
                <div class="like-content text-center">
                    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Log in om dit leuk te vinden!</a>
                </div>
            }

            <ul class="shareIcons">
                <div id="share" class="text-center">
                    <!-- facebook -->
                    <a pid="@Model.Id" class="facebook share-project" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@Url.Link(null, null)/detail/@Model.Id&amp;src=sdkpreparse">
                        <i class="fa fa-facebook" pid="@Model.Id"></i>
                    </a>
                    <!-- twitter -->
                    <a pid="@Model.Id" class="twitter share-project" href="https://twitter.com/intent/tweet?text=I%20just%20went%20to @Url.Link(null, null)">
                        <i class="fa fa-twitter" pid="@Model.Id"></i>
                    </a>
                </div>


            </ul>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-6">
            <div class="card detailCards" id="contactBackground">
                <div class="card-body">
                    <h5 class="card-title">Informatie over de huidige status van het project:</h5>
                    <p class="card-text">Dit project bevind zich in de onderstaande fase:</p>
                    <h4 class="text-center text-uppercase">@Model.CurrentFase.ProjectFase.ToString().ToLower()</h4>
                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin"))) {
                        <a class="btn btn-primary" asp-controller="Project" asp-action="CreateFaseProject" asp-route-id="@Model.Id">Maak nieuwe fase</a>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card detailCards" id="contactBackground">
                <div class="card-body">
                    <h5 class="card-title">De vooruitgang van de fase waarin het project zich bevindt wordt hieronder weergegeven.</h5>
                    <p class="project_datums">Begindatum: @Model.Begin.ToShortDateString()</p>
                    <p id="einddatum" class="project_datums">Einddatum: @Model.End.ToShortDateString()</p>
                    <div>
                        @{
                            var daysBetween = (@Model.End - Model.Begin).TotalDays;
                            var daysBetweenBeginAndNow = (@DateTime.Now - Model.Begin).TotalDays;

                            var percent = daysBetweenBeginAndNow / daysBetween * 100;
                        }
                        <div class="progress-bar" style="width: @Math.Round(percent, 0)%">@Math.Round(percent, 0)%</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br/>
    <div class="card w-100" id="contactBackground">
        <p class="card-header" id="contactHeaders">
            Vragenlijsten
        </p>
        <div class="card-body">
            <h5 class="card-title">Vul onze vragenlijsten in</h5>
            <p class="card-text">
                Hieronder vindt u een knop die u naar het vragenlijsten overzicht brengt. In dit overzicht kan u kiezen
                welke vragenlijsten u interesseren en deze invullen. We kijken alvast uit naar uw input.
            </p>
            @{
                var questionListCount = 0;
                foreach (InputMethod inputMethod in Model.CurrentFase.InputMethods) {
                    if (inputMethod.GetType() == typeof(QuestionList)) {
                        if (questionListCount == 0) {
                            questionListCount++;
                        }
                        <a class="btn btn-primary" asp-controller="QuestionList" asp-action="Index" asp-route-id="@inputMethod.Id">Vragenlijst invullen</a>
                        if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin"))) {
                            <a class="btn btn-primary" asp-controller="QuestionList" asp-action="EditQuestionList" asp-route-id="@inputMethod.Id">Vragenlijst Bewerken</a>
                        }
                    }
                }
            }

            @{
                if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin"))) {
                    <a class="btn btn-primary align-right" asp-controller="Project" asp-action="CreateQuestionListFase" asp-route-id="@Model.Id">Nieuwe vragenlijst opstellen</a>
                }
            }
        </div>
    </div>
    <br/>

    @if (Model.CurrentFase != null) {
    }
    <br/>
</div>
<div>
    <br/>
    @if (Model.CurrentFase != null) {
        var ideationCount = 0;
        foreach (InputMethod inputMethod in Model.CurrentFase.InputMethods) {
            if (inputMethod.GetType() == typeof(Ideation)) {
                Ideation ideation = (Ideation) inputMethod;
                if (ideationCount == 0) {
                    <h2 id="detail_titles">Onderwerpen:</h2>
                    <br/>
                    if (Model.CurrentFase.InputMethods.OfType<Ideation>().Any()) {
                        if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin"))) {
                            <a class="btn btn-primary" asp-controller="Project" asp-action="CreateIdeationFase">Nieuw onderwerp aanmaken</a>
                        }
                    }
                    <br/>
                    ideationCount++;
                }
                <br/>
                if (!ideation.HideIdeation) {
                    <partial name="_IdeationPartial" model="@inputMethod"/>
                }
                if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin"))) {
                    if (ideation.HideIdeation) {
                        <partial name="_IdeationPartial" model="@inputMethod"/>
                    }
                }
            }
        }
    }

    <br/>
    <h2 class="text-center">Gerelateerde projecten</h2>
    <br/>
    <div class="row">
        @{
            var count = 4;
            if (organisation.Count < count) {
                count = organisation.Count;
            }
            for (var i = 0; i < count; i++) {
                <div class="col-md-3 col-sm-6 mb-4 h-100">
                    <div class="hoverImage">
                        <a asp-controller="Project" asp-action="Detail" asp-route-id="@organisation[i].Id">
                            <img class="img-fluid" id="relatedImage" src="/images/projects/@organisation[i].ImageName" alt="">
                            <p class="image_hover text-center">@organisation[i].Name</p>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>
</body>
</html>