@model PoC.Domain.project.Project

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Bewerk Project @Model.Name</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<h3>Huidig project bewerken</h3>

<form id="formEditProject" asp-controller="Project" asp-action="EditProject" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
    <div id="textColor">
    <div class="form-group">

        <input type="hidden" asp-for="Id" class="form-control" value="@Model.Id" readonly/>

    </div>

    <div class="form-group">

        <label asp-for="Name" class="control-label">Project Naam</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>    

    <div class="form-group">

        <label asp-for="MainQuestion" class="control-label">Hoofdvraag</label>
        <input asp-for="MainQuestion" class="form-control" />
        <span asp-validation-for="MainQuestion" class="text-danger"></span>

    </div>

    <div class="form-group">

        <label asp-for="Description" class="control-label">Beschrijving</label>
        <textarea asp-for="Description" class="form-control"> </textarea>
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>

    <div class="form-group">

        <label asp-for="Category" class="control-label">Categorie</label>
        <select asp-for="Category"
                asp-items="@(new SelectList(Enum.GetValues(typeof(PoC.Domain.datatype.Category))))"
                class="form-control"> 
        </select>
    </div>
    
    <div class="form-group">

        <label asp-for="Begin" class="control-label">Startdatum</label>
        <input asp-for="Begin" class="form-control" value="@Model.Begin.ToString("yyyy-MM-dd")"/>
        <span asp-validation-for="Begin" class="text-danger"></span>

    </div>

    <div class="form-group">

        <label asp-for="End" class="control-label">Einddatum</label>
        <input asp-for="End" class="form-control" value="@Model.End.ToString("yyyy-MM-dd")"/>
        <span asp-validation-for="End" class="text-danger"></span>
        
    </div>

    <div class="form-group">

        <input type="hidden" asp-for="CurrentFase.Id" class="form-control" value="@Model.CurrentFase.Id" readonly/>

    </div>

    <div class="form-group">
        <label for="imageProject" class="control-label">Afbeelding</label>
        <button class="btn btn-danger showEditImage">Bewerk</button>
        <input  asp-for="ImageName"  class="form-control" readonly/>
        <input id="imageProject" type="file" accept=".jpg,.jpeg,.png" name="imageProject" style="display: none" class="form-control"/>
        <span id="imageProjectValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>
    </div>
    
    <h4>Fase</h4>
    
    <div class="form-group">

        <label asp-for="CurrentFase.FaseName" class="control-label">Fase Naam</label>
        <input asp-for="CurrentFase.FaseName" class="form-control" value="@Model.CurrentFase.FaseName"/>
        <span asp-validation-for="CurrentFase.FaseName" class="text-danger"></span>
        
    </div>
    
    <div class="form-group">

        <label asp-for="CurrentFase.ProjectFase">Fase</label>
        <select asp-for="CurrentFase.ProjectFase"
                asp-items="@(new SelectList(Enum.GetValues(typeof(PoC.Domain.datatype.ProjectFase))))"
                class="form-control">
        </select>

    </div>
    
    <div class="form-group">

        <label asp-for="CurrentFase.Begin" class="control-label">Startdatum</label>
        <input asp-for="CurrentFase.Begin" class="form-control" value="@Model.CurrentFase.Begin.ToString("yyyy-MM-dd")"/>
        <span asp-validation-for="CurrentFase.Begin" class="text-danger"></span>
    </div>

    
    
    <div class="form-group">

        <label asp-for="CurrentFase.End" class="control-label">Einddatum</label>
        <input asp-for="CurrentFase.End" class="form-control" value="@Model.CurrentFase.End.ToString("yyyy-MM-dd")"/>
        <span asp-validation-for="CurrentFase.End" class="text-danger"></span>
        
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <input id="editProjectbtn" type="submit" value="Project bewerken"/>
    </div>
</form>

</body>
</html>