@using PoC.Domain.inputmethod
@using Microsoft.AspNetCore.Identity
@using PoC.Areas.Identity.Data
@model PoC.Domain.project.Fase

@inject SignInManager<PoCIdentityUser> SignInManager
@inject UserManager<PoCIdentityUser> UserManager

@{
    Layout = "_Layout";
}
<html>
<head>
    <title>InputMethoden Voorbije Fase</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="section_project_detail">
     @if (Model != null)
        {
         
            var questionListCount = 0;

            foreach (InputMethod inputMethod in Model.InputMethods)
            {
                if (inputMethod.GetType() == typeof(QuestionList))
                {
                    if (questionListCount == 0)
                    {
                        <h2 id="detail_titles">Vragenlijsten:</h2>
                        questionListCount++;
                    }
                    <div class="card w-100" id="contactBackground">
                        <p class="card-header" id="contactHeaders">
                            Vragenlijsten
                        </p>
                        <div class="card-body">
                            <p class="card-text">
                                
                                    <p>@inputMethod.Description</p>
                                    <a class="btn btn-primary" asp-controller="QuestionList" asp-action="Index" asp-route-id="@inputMethod.Id">Vragenlijst bekijken</a>
                              
                            </p>
                        </div>
                    </div>
                }
            }
        }

        <hr/>
        <br/>
        @if (Model!= null)
        {
            var ideationCount = 0;
            foreach (InputMethod inputMethod in Model.InputMethods)
            {
                if (inputMethod.GetType() == typeof(Ideation))
                {
                    if (ideationCount == 0)
                    {
                        <h2 id="detail_titles">Onderwerpen:</h2>
                        ideationCount++;
                    }
                    <partial name="_IdeationPartial" model="@inputMethod"/>
                }
            }
        }
</div>

</body>
</html>