@model IEnumerable<PoC.Domain.project.Project>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Beheer Projecten</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
@if (Model.Count() == 0)
{
    <h2 class="text-center">Er zijn nog geen projecten, voeg eerst projecten toe</h2>
}
<br/>
<h2 class="text-center">Huidige Projecten</h2>
<br/>
<form asp-controller="Project" asp-action="CreateProject" method="get" class="form-inline">
    <div id="textColor">
    <input type="submit" value="Nieuw project aanmaken" class="btn btn-primary"/>    
    </div>
</form>
<div id="divHuidigeProjecten">
<table class="table table-striped" id="textColor">
    <tr>
        <th>Project Naam</th>
        <th>Hoofdvraag</th>
        <th>Beschrijving</th>
        <th>Startdatum</th>
        <th>Einddatum</th>
        <th>Huidige fase</th>
        <th>Opties</th>
    </tr>
    @foreach (var project in Model)
    {
        if (project.Closed == false)
        {

            <tr>
                <td>@project.Name</td>
                <td>@project.MainQuestion</td>
                <td>@project.Description</td>
                <td>@project.Begin</td>
                <td>@project.End</td>
                <td>@project.CurrentFase.ProjectFase</td>
                <td>
                    <a class="btn btn-primary" asp-action="Detail" asp-route-id="@project.Id">Details</a>
                    <a class="btn btn-primary" asp-action="EditProject" asp-route-id="@project.Id">Bewerk</a>
                    <button class="btn btn-primary  sluitAfProjectbtn" pid="@project.Id">Sluit Af</button>
                </td>
            </tr>
        }
    }
</table>
</div>
<h3>Afgesloten Projecten</h3>
<div id="divAfgeslotenProjecten">
    <table class="table table-striped" id="textColor">
        <tr>
            <th>Project Naam</th>
            <th>Hoofdvraag</th>
            <th>Beschrijving</th>
            <th>Startdatum</th>
            <th>Einddatum</th>
            <th>Huidige fase</th>
            <th>Opties</th>
        </tr>
        @foreach (var project in Model)
        {
            if (project.Closed == true)
            {

                <tr>
                    <td>@project.Name</td>
                    <td>@project.MainQuestion</td>
                    <td>@project.Description</td>
                    <td>@project.Begin</td>
                    <td>@project.End</td>
                    <td>@project.CurrentFase.ProjectFase</td>
                    <td>
                        <a asp-action="Detail" asp-route-id="@project.Id">Details</a>
                        <a asp-action="EditProject" asp-route-id="@project.Id">Bewerk</a>
                        <button class="btn btn-primary herstartProjectbtn" pid="@project.Id">Herstart</button>
                    </td>
                </tr>
            }
        }
    </table>
</div>
</body>
</html>