@using Microsoft.AspNetCore.Identity
@using PoC.Areas.Identity.Data
@using PoC.BL.manager.input
@using PoC.BL.manager.user
@model IEnumerable<PoC.Domain.project.Project>
@inject SignInManager<PoCIdentityUser> SignInManager
@inject UserManager<PoCIdentityUser> IdentityUserManager
@inject IUserManager UserManager
@inject IInputManager InputManager
@{
  
       Layout = "_Layout";

}
@{
    <script type="module" src="/dist/bootstrap_js.entry.js" defer></script>
    <script type="module" src="/dist/filterprojects.entry.js" defer></script>
}


<!DOCTYPE html>

<html>
<head>

    <title>Projects</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            @*TODO aanpassen naar dynamische image*@
            <h2 class="my-4 text-center">Categorieën</h2>
            
            <div class="list-group">
                <a class="list-group-item cat">Alles weergeven</a>
                <a class="list-group-item cat">Milieu</a>
                <a class="list-group-item cat">Economie</a>
                <a class="list-group-item cat">Verkeer</a>
                <a class="list-group-item cat">Gezondheid</a>
            </div>
        </div>
        <div class="col-lg-9">
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/images/slide1.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">

                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/images/slide2.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">

                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/images/slide3.png" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">

                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div>
                @if (Model.Count() == 0)
                {
                    <h1 class="text-center">Geen projecten gevonden.</h1>
                }
            </div>
            @if(Model.Count()>0){
            <div class="col-lg-12">
                <h2 class="text-center">Projecten</h2>
                <br/>
            </div>
            }
            <div class="row">
                @foreach (var project in Model)
                {
                    var projectPath = ViewData["organisation"];
                    var imageSource = "~/organisations/" + @projectPath + "/organisation/projects/images/" + project.ImageName;
                    if (project.Closed == false)
                    {
                        var likes = 0;
                        var shares = 0;
                        if (project.Likes != null)
                        {
                            likes = project.Likes.Count();
                        }
                        if (project.Shares != null)
                        {
                            shares = project.Shares.Count();
                        }
                        <div class="col-lg-4 col-md-6 mb-4 @project.Category proj">
                            <div class="card h-100" id="projectIndex">
                                <a asp-action="Detail" asp-route-id="@project.Id">
                                    <img class="card-img-top" src="@Url.Content(imageSource)" id="@project.Id" alt="project image">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <h3>@project.Name</h3>
                                    </h4>
                                    <p class="card-text">@project.Description</p>
                                    <a class="btn btn-primary text-center"asp-action="Detail" asp-route-id="@project.Id">Meer info</a>
                                </div>
                                <div class="text-center">

                                    <a class="number_likes_shares">Aantal keer geliked: </a>
                                    <a id="like_@project.Id">
                                        <i class="number_likes_shares" id="number-likes_@project.Id">@likes</i>
                                    </a>
                                    <br/>
                                    <a class="number_likes_shares">Aantal keer gedeeld: </a>
                                    <a id="share_@project.Id">
                                        <i class="number_likes_shares" id="number-shares_@project.Id">@shares</i>
                                    </a>
                                    <br/>
                                </div>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    if (InputManager.GetLikesOfUser(IdentityUserManager.GetUserId(User)).Count(l => project.Likes.Contains(l))==0)
                                    {
                                        <div class="like-content text-center">
                                            <a class="btn-secondary like-review like-project" pid="@project.Id" uid="@IdentityUserManager.GetUserId(User)">
                                                <i class="fa fa-heart" aria-hidden="true" pid="@project.Id" uid="@IdentityUserManager.GetUserId(User)"></i> Vind ik leuk
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="like-content text-center">
                                            <a class="w3-button w3-green">Je hebt dit al leuk gevonden</a>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="like-content text-center">
                                        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Log in om dit leuk te vinden!</a>
                                    </div>
                                }
                                
                                <div id="share" class="text-center">
                                    <!-- facebook -->
                                    <div class="share-project" data-href="@Url.Link(null,null)/detail/@project.Id" data-layout="button_count" data-size="small" pid="@project.Id">
                                        <a pid="@project.Id" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@Url.Link(null,null)/detail/@project.Id&amp;src=sdkpreparse" class="fa fa-facebook-f fb-xfbml-parse-ignore"></a>
                                    </div>
                                    <!-- twitter -->
                                    <a pid="@project.Id" class="twitter share-project" href="https://twitter.com/intent/tweet?text=I%20just%20went%20to @Url.Link(null,null)/detail/@project.Id">
                                        <i class="fa fa-twitter" pid="@project.Id"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
</body>
</html>