﻿
@{
    ViewData["Title"] = "Home Page";
}

@{
    <script type="module" src="~/dist/index.entry.js" defer></script>
    <script type="module" src="dist/site.entry.js" defer></script>
    <script type="module" src="dist/bootstrap_js.entry.js" defer></script>
}
<body>
  
        
</body>



