﻿@model List<PoC.Domain.user.User>

@inject SignInManager<PoCIdentityUser> SignInManager;
@inject UserManager<PoCIdentityUser> UserManager;
@using Microsoft.AspNetCore.Identity
@using PoC.Areas.Identity.Data

@{
    ViewData["Title"] = "Home Page";
}

@{
    <script type="module" src="~/dist/index.entry.js" defer></script>
    <script type="module" src="/dist/site.entry.js" defer></script>
    <script type="module" src="/dist/bootstrap_js.entry.js" defer></script>
}
<body>
<div class="container">
    <br/>
    <h2 class="text-center">Moderators beheren</h2>
    <br/>
    
    <table class="table table-striped" id="textColor">
        <thead>
        <tr>
            <th>Gebruikersnaam</th>
            <th>Naam</th>
            <th>Email</th>
            <th>Geverifieerd</th>
            <th>Geblokkeerd</th>
            <th>Acties</th>
        </tr>
        <tbody id="tableContentBody">
        @foreach (var user in Model)
        {
            <tr id="@user.UserId">
                <td>@user.UserName</td>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Email</td>
                <td>
                    @if (@user.Verified)
                    {
                        <input type="checkbox" checked disabled/>
                    }
                    else
                    {
                        <input type="checkbox" disabled/>
                    }
                </td>
                <td>
                    @if (@user.Blocked)
                    {
                        <input id="input_@user.UserId" type="checkbox" checked disabled/>
                    }
                    else
                    {
                        <input id="input_@user.UserId" type="checkbox" disabled/>
                    }
                </td>
                <td uid="@user.UserId">
                    <button type="button" class="btn btn-warning moddemote">Neem rechten af</button>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
                    {
                        <button type="button" class="btn btn-warning modpromote">Maak admin</button>
                    }
                    <button type="button" class="btn btn-danger usrdel">Verwijder gebruiker</button>
                    @if (!@user.Blocked)
                    {
                        <button id="unblocked_@user.UserId" type="button" class="btn btn-warning usrBlock">Blokkeer gebruiker</button>
                    }
                    else
                    {
                        <button id="blocked_@user.UserId" type="button" class="btn btn-warning usrUnblock">Deblokkeer gebruiker</button>
                    }
                </td>
            </tr>
        }
        </tbody>
        </thead>
    </table>
</div>
</body>