@model List<PoC.Domain.user.User>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Beheer Users</title>
</head>
<body>
<div class="container">
    <br/>
    <h2 class="text-center">Users beheren</h2>
    <br/>
    <div class="card w-100 disableBorder" id="contactBackground">
        <div class="card-header" id="contactHeaders">
            Zoek op gebruikers
        </div>
        <div class="card-body">
            <p class="card-text">
                <input type="search" class="form-control" id="searchUsrs"/>
            </p>
        </div>
    </div>
    <table class="table table-striped" id="textColor">
        <thead>
        <tr>
            <th>Gebruikersnaam</th>
            <th>Naam</th>
            <th>Email</th>
            <th>Geverifieerd</th>
            <th>Geblokkeerd</th>
            <th>Acties</th>
        </tr>
        </thead>
        <tbody id="tableContentBody">
        @foreach (var user in Model) {
            <tr id="@user.UserId">
                <td>@user.UserName</td>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Email</td>
                <td>
                    @if (@user.Verified) {
                        <input type="checkbox" checked disabled/>
                    }
                    else {
                        <input type="checkbox" disabled/>
                    }
                </td>
                <td>
                    @if (@user.Blocked) {
                        <input id="input_@user.UserId" type="checkbox" checked disabled/>
                    }
                    else {
                        <input id="input_@user.UserId" type="checkbox" disabled/>
                    }
                </td>
                <td uid="@user.UserId">
                    <button type="button" class="btn btn-warning usrpromote">Maak moderator</button>
                    <button type="button" class="btn btn-danger usrdel">Verwijder gebruiker</button>
                    @if (!@user.Blocked) {
                        <button id="unblocked_@user.UserId" type="button" class="btn btn-warning usrBlock">Blokkeer gebruiker</button>
                    }
                    else {
                        <button id="blocked_@user.UserId" type="button" class="btn btn-warning usrUnblock">Deblokkeer gebruiker</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>