@using Microsoft.EntityFrameworkCore.Internal
@using Microsoft.Extensions.Options
@using PoC.Domain.datatype
@using PoC.Domain.inputmethod
@using PoC.Domain.inputMethod
@model PoC.Domain.inputmethod.QuestionList

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Bewerk QuestionList</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="module" src="~/dist/addQuestionList.entry.js" defer></script>
</head>
<body>
<br/>    
<h2 class="text-center">Vragenlijst configureren</h2>

<form id="test" asp-controller="QuestionList" asp-action="EditQuestionListFromForm" method="post">
    <div class="card w-100 disableBorder" id="contactBackground">
        <p class="card-header" id="contactHeaders">
            Titel vragenlijst aanpassen
        </p>
        <div class="card-body">
            <p class="card-text">
                <input type="text" name="title" value="@Model.Title"/>
            </p>
        </div>
    </div>
    <br/>
    <div class="card w-100 disableBorder" id="contactBackground">
        <p class="card-header" id="contactHeaders">
            Beschrijving vragenlijst aanpassen
        </p>
        <div class="card-body">
            <p class="card-text">
                <input type="text" name="description" value="@Model.Description"/>
            </p>
        </div>
    </div>
    <br/>
    <div class="row">
    <div class="card dateCards disableBorder" id="contactBackground">
        <p class="card-header" id="contactHeaders">
            Begindatum vragenlijst aanpassen
        </p>
        <div class="card-body">
            <p class="card-text">
                <input type="date" name="begindatum" value="@Model.Begin.ToString("yyyy-MM-dd")"/>
            </p>
        </div>
    </div>
    <br/>
        <div class="card dateCards disableBorder" id="contactBackground">
            <p class="card-header" id="contactHeaders">
                Einddatum vragenlijst aanpassen
            </p>
            <div class="card-body">
                <p class="card-text">
                    <input class="" type="date" name="einddatum" value="@Model.End.ToString("yyyy-MM-dd")"/>
                </p>
            </div>
        </div>
    </div>
    
    
    <br/>
    <h2 class="text-center">Vragen en opties bewerken</h2>
    <input type="submit" class="btn btn-primary" value="Sla de vragenlijst op"/>
    <input type="hidden" name="questionlistId" value="@Model.Id"/>
    <table class="table">
        <thead>
        <tr id="textColor">
            <th class="col-sm-6">Vraag</th>
            <th class="col-sm-2">Type</th>
            <th class="col-sm-3">Opties</th>
            <th class="col-sm-1"></th>
        </tr>
        </thead>
        <tbody class="questionTableBody" id="questionTableBody">
        @{var questionnumber = 0; }
        <input type="hidden" class="questionCount" name="questionCount" value="@Model.Questions.Count()"/>
        
        @foreach (Question question in Model.Questions)
        {
            <tr id="@question.id" rowspan="2" colspan="4">
                <td class="w-50">
                    <input type="hidden" name="questionid_@questionnumber" value="@question.id"/>
                    <input type="text" class="form-control" value="@question.Title" name="questionTitle_@questionnumber" required/>
                </td>
                <td>
                    @{
                        var type = "";
                        bool disabled = true;
                        if (@question.GetType() == typeof(ChoiceQuestion))
                        {
                            ChoiceQuestion cq = (ChoiceQuestion) question;
                            type = cq.ChoiseQuestionType.ToString();
                            disabled = false;
                        }
                        else
                        {
                            OpenQuestion oq = (OpenQuestion) question;
                            type = oq.OpenQuestionType.ToString();
                        }

                        
                    }
                    <select style="width: 200px" class="form-control selectedType" id="randomidke" type="@type" name="questionType_@questionnumber">
                        <option value="OPEN_QUESTION">Open vraag</option>
                        <option value="EMAIL">Email</option>
                        <option value="MAP">Map</option>
                        <option value="SINGLE_CHOICE">Single choice</option>
                        <option value="MULTIPLE_CHOICE">Multiple choice</option>
                        <option value="DROPDOWN">Drop down list</option>
                    </select>
                </td>
                <td>
                    <div class="container">
                        @*<input type="button" disabled="@disabled" class="btn btn-primary btn-block addOption" value="Voeg een optie toe"/>*@
                        @*<input type="hidden" class="optioncount" name="optioncount_@questionnumber"/>*@
                        <div class="optiesContainer_@questionnumber" id="questionListType">
                            @if (question.GetType() == typeof(ChoiceQuestion)) {
                                ChoiceQuestion quest = (ChoiceQuestion) question;
                                var temp = 0;
                                foreach (var option in quest.Options)
                                {
                                    <div class="optiesDiv">
                                        <input name='@("option_"+@question.id+"_"+@temp)' type="text" qid="@question.id" oid="@option.Id" placeholder="optie" value="@option.Title"/>
                                        <button id="btnDeleteOption_@option.Id" type="button" class="deleteoption" qid="@question.id" oid="@option.Id">delete option</button>
                                    </div>
                                    temp++;
                                }
                            }
                        </div>
                    </div>
                </td>
                <td>
                    @if (question.GetType() == typeof(ChoiceQuestion))
                    {
                        <input type="button" qid="@question.id" class="btn btn-primary btn-md removeQuestion" value="X"/>
                    }
                    else if (question.GetType() == typeof(OpenQuestion))
                    {
                        <input type="button" qid="@question.id" class="btn btn-primary btn-md removeQuestion" value="X"/>
                    }
                </td>

            </tr>
            questionnumber++;
        }
        </tbody>
        
    </table>
    
</form>
<input type="button" id="showAddQuestion" class="btn btn-primary" value="Voeg vraag toe"/>
<div id="textColor">

    <div id="divQuestionType" style="display: none">
        <br/>
        <select id="selectQuestionType" class="form-control">
            <option value="Keuzevraag" selected>Voeg Keuzevraag toe</option>
            <option value="Openvraag">Voeg Openvraag toe</option>
        </select>
        <br/>
    </div>
    <div id="divAddChoiceQuestion" style="display: none">
        <form id="formAddChoiceQuestion" asp-controller="QuestionList" asp-action="AddChoiceQuestionToQuestionList" method="post">
            <div class="form-group">
                <label for="titleChoiceQuestion" class="control-label">Titel Vraag</label>
                <input id="titleChoiceQuestion" type="text" name="titleChoiceQuestion" class="form-control"/>
                <span id="titleChoiceQuestionValidation" class="text-danger" style="display: none">Verplicht, maximaal 100 characters. </span>
            </div>
            <div class="form-group">
                <label for="rangChoiceQuestion" class="control-label">Rang Vraag</label>
                <input id="rangChoiceQuestion" type="number" name="rangChoiceQuestion" class="form-control"/>
                <span id="rangChoiceQuestionValidation" class="text-danger" style="display: none">Verplicht, groter dan 0 </span>
            </div>
            <div class="form-group">
                <label for="choiceQuestionType" class="control-label">Type vraag</label>
                <select id="choiceQuestionType" name="choiceQuestionType"
                        asp-items="@(new SelectList(Enum.GetValues(typeof(ChoiseQuestionType))))"
                        class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label for="options[0]" class="control-label">Optie 1</label>
                <input id="options[0]" type="text" name="options[0]" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="options[1]" class="control-label">Optie 2</label>
                <input id="options[1]" type="text" name="options[1]" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="options[2]" class="control-label">Optie 3</label>
                <input id="options[2]" type="text" name="options[2]" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="options[3]" class="control-label">Optie 4</label>
                <input id="options[3]" type="text" name="options[3]" class="form-control"/>
            </div>
            <input type="hidden" name="questionListId" class="form-control" value="@Model.Id" readonly/>
            <span id="optionsChoiceQuestionValidation" class="text-danger" style="display: none">Voorzie zeker een waarde voor de eerste en tweede optie </span>
            <input id="addChoiceQuestionbtn" type="submit" value="Toevoegen"/>
        </form>
    </div>
    <div id="divAddOpenQuestion" style="display: none">
        <form id="formAddOpenQuestion" asp-controller="QuestionList" asp-action="AddOpenQuestionToQuestionList" method="post">
            <div class="form-group">
                <label for="titleOpenQuestion" class="control-label">Titel Vraag</label>
                <input id="titleOpenQuestion" type="text" name="titleOpenQuestion" class="form-control"/>
                <span id="titleOpenQuestionValidation" class="text-danger" style="display: none">Verplicht, maximaal 100 characters. </span>
            </div>

            <div class="form-group">
                <label for="rangOpenQuestion" class="control-label">Rang Vraag</label>
                <input id="rangOpenQuestion" type="number" name="rangOpenQuestion" class="form-control"/>
                <span id="rangOpenQuestionValidation" class="text-danger" style="display: none">Verplicht, groter dan 0 </span>
            </div>
            <div class="form-group">
                <label for="openQuestionType" class="control-label">Type vraag</label>
                <select id="openQuestionType" name="openQuestionType"
                        asp-items="@(new SelectList(Enum.GetValues(typeof(OpenQuestionType))))"
                        class="form-control">
                </select>
            </div>
            <input type="hidden" name="questionListId" class="form-control" value="@Model.Id" readonly/>
            <input class="btn btn-primary" id="addOpenQuestionbtn" type="submit" value="Toevoegen"/>
        </form>
    </div>
</div>


@*<input type="button" id="showEditQuestions" class="w3-button w3-green" value="Bewerk Vragenlijst"/>

<div id="divEditQuestions" style="display: none">

    <br/>
    <br/>
    <br/>

    @foreach (var question in @Model.Questions)
    {
        <div class="row">
            @if (question.GetType() == typeof(ChoiceQuestion))
            {
                <form asp-controller="QuestionList" asp-action="RemoveChoiceQuestion" asp-route-id="@question.id" method="post">
                    <input type="submit" value="test"/>
                </form>
                <button class="btn btn-outline-dark removeChoiceQuestionbtn" qid="@question.id">Verwijder @question.Title</button>
            }

            @if (question.GetType() == typeof(OpenQuestion))
            {
                <button class="btn btn-outline-dark removeOpenQuestionbtn" qid="@question.id">Verwijder @question.Title</button>
            }
        </div>
        if (question.GetType() == typeof(ChoiceQuestion))
        {
            ChoiceQuestion choiceQuestion = (ChoiceQuestion) question;

            <form asp-controller="QuestionList" asp-action="EditChoiceQuestion", asp-route-id="@Model.Id" method="post">

                <div class="form-group">

                    <label for="editTitleChoiceQuestion" class="control-label">Titel</label>
                    <input id="editTitleChoiceQuestion" name="editTitleChoiceQuestion" value="@question.Title" class="form-control"/>
                </div>

                <div class="form-group">

                    <label for="editRangChoiceQuestion" class="control-label">Rang</label>
                    <input id="editRangChoiceQuestion" type="number" name="editRangChoiceQuestion" value="@question.Rang" class="form-control"/>

                </div>

                <div class="form-group">

                    <label for="editChoiceQuestionType" class="control-label">Soort</label>
                    <select id="editChoiceQuestionType" name="editChoiceQuestionType" class="form-control">

                        @if (choiceQuestion.ChoiseQuestionType == ChoiseQuestionType.SINGLE_CHOICE)
                        {
                            <option selected="selected" value="SINGLE_CHOICE">Single Choice</option>
                            <option value="DROPDOWN">Dropdown</option>
                            <option value="MULTIPLE_CHOICE">Multiple Choice</option>
                        }

                        @if (choiceQuestion.ChoiseQuestionType == ChoiseQuestionType.DROPDOWN)
                        {
                            <option value="SINGLE_CHOICE">Single Choice</option>
                            <option selected="selected" value="DROPDOWN">Dropdown</option>
                            <option value="MULTIPLE_CHOICE">Multiple Choice</option>
                        }

                        @if (choiceQuestion.ChoiseQuestionType == ChoiseQuestionType.MULTIPLE_CHOICE)
                        {
                            <option value="SINGLE_CHOICE">Single Choice</option>
                            <option value="DROPDOWN">Dropdown</option>
                            <option selected="selected" value="MULTIPLE_CHOICE">Multiple Choice</option>
                        }
                    </select>

                </div>

                @foreach (var option in @choiceQuestion.Options)
                {
                    int index = @choiceQuestion.Options.IndexOf(option) + 1;
                    <div class="form-group">
                        <label for="editOptions[@choiceQuestion.Options.IndexOf(option)]" class="control-label">Optie @index.ToString() </label>
                        <input id="editOptions[@choiceQuestion.Options.IndexOf(option)]" type="text" name="editOptions[@choiceQuestion.Options.IndexOf(option)]" value="@option.Title" class="form-control"/>
                    </div>
                }

                <input hidden id="editChoiceQuestionId" name="editChoiceQuestionId" value="@question.id"/>

                <input type="submit" value="Bewerk Keuzevraag "/>
            </form>
        }
        if (question.GetType() == typeof(OpenQuestion))
        {
            OpenQuestion openQuestion = (OpenQuestion) question;
            <form asp-controller="QuestionList" asp-action="EditOpenQuestion", asp-route-id="@Model.Id" method="post">

                <div class="form-group">

                    <label for="editTitleOpenQuestion" class="control-label">Titel</label>
                    <input id="editTitleOpenQuestion" name="editTitleOpenQuestion" value="@question.Title" class="form-control"/>

                </div>

                <div class="form-group">

                    <label for="editRangOpenQuestion" class="control-label">Rang</label>
                    <input id="editRangOpenQuestion" type="number" name="editRangOpenQuestion" value="@question.Rang" class="form-control"/>

                </div>

                <div class="form-group">

                    <label for="editOpenQuestionType" class="control-label">Soort</label>
                    <select id="editOpenQuestionType" name="editOpenQuestionType"class="form-control">
                        @if (openQuestion.OpenQuestionType == OpenQuestionType.OPEN_QUESTION)
                        {
                            <option selected="selected" value="OPEN_QUESTION">Open Question</option>
                            <option value="EMAIL">Email</option>
                            <option value="MAP">Map</option>
                        }

                        @if (openQuestion.OpenQuestionType == OpenQuestionType.EMAIL)
                        {
                            <option value="OPEN_QUESTION">Open Question</option>
                            <option selected="selected" value="EMAIL">Email</option>
                            <option value="MAP">Map</option>
                        }

                        @if (openQuestion.OpenQuestionType == OpenQuestionType.MAP)
                        {
                            <option value="OPEN_QUESTION">Open Question</option>
                            <option value="EMAIL">Email</option>
                            <option selected="selected" value="MAP">Map</option>
                        }
                    </select>

                </div>

                <input hidden id="editOpenQuestionId" name="editOpenQuestionId" value="@question.id"/>

                <input type="submit" value="Bewerk Openvraag "/>
            </form>
        }
        <hr/>
    }
</div>
<br/>
<br/>
<hr/>*@



</body>
</html>