@using System.Globalization
@using Microsoft.AspNetCore.Identity
@using PoC.Areas.Identity.Data
@using PoC.BL.manager.project
@using PoC.Domain
@using PoC.Domain.datatype
@using PoC.Domain.inputmethod
@using PoC.Domain.inputMethod
@model PoC.Domain.inputmethod.QuestionList
@inject SignInManager<PoCIdentityUser> SignInManager
@inject UserManager<PoCIdentityUser> UserManager
@inject IProjectManager ProjectManager
@{
    ViewBag.Title = "QuestionList";
    Layout = "_Layout";
}

@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2nMl_Q-eXxZv_23EFLZ27rYLLpcZqQhg&callback=initMap" async defer></script>
}

<!DOCTYPE html>
<html>
<head>

</head>

<body>
@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin"))) {
    <form asp-controller="QuestionList" asp-action="EditQuestionList" asp-route-id="@Model.Id" method="get" class="form-inline">
        <input type="submit" value="Bewerk vragenlijst" class="btn btn-outline-dark"/>
    </form>
}

<h2 class="text-center">@Model.Title</h2>
<div class="card w-100 disableBorder" id="contactBackground">
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
    </div>
</div>
<br/>
<div class="container">
    @{
        var projectid = ProjectManager.GetProjectFromFaseId(Model.Fase.Id).Id;
    }
    <form asp-controller="Project" asp-action="Detail" asp-route-id="@projectid" method="post">
        @{
            var questions = @Model.Questions.ToList();
            questions.Sort((q1, q2) => String.Compare(q1.Rang, q2.Rang, StringComparison.Ordinal));
            foreach (var question in Model.Questions)
            {
                if (question.GetType() == typeof(OpenQuestion))
                {
                    OpenQuestion openQuestion = (OpenQuestion) question;
                    if (openQuestion.OpenQuestionType == OpenQuestionType.OPEN_QUESTION)
                    {
                        <div class="card w-100 disableBorder" id="contactBackground">
                        <label for="@question.id">
                            <p class="card-header" id="contactHeaders">@question.Title</p>
                            <div class="card-body">
                            <p class="card-text">
                            <textarea rows="4" class="open-question w-50" name="@question.id" id="@question.id"></textarea>
                            </p>
                            </div>
                        </label>
                        </div>  
                        <br/>
                    }
                    else if (openQuestion.OpenQuestionType == OpenQuestionType.EMAIL)
                    {
                        <div class="card w-100 disableBorder" id="contactBackground">
                            <label for="@question.id">
                                <p class="card-header" id="contactHeaders">@question.Title</p>
                                <div class="card-body">
                                    <p class="card-text">
                                        <input class="w-50" type="email" name="@question.id" id="@question.id"/>
                                    </p>
                                </div>
                            </label>
                        </div>
                        <br/>
                    }
                    else if (openQuestion.OpenQuestionType == OpenQuestionType.MAP)
                    {
                        <div class="card w-100 disableBorder" id="contactBackground">
                            <label for="@question.id">
                                <p class="card-header" id="contactHeaders">@question.Title</p>
                                <div class="card-body">
                                    <p class="card-text ">
                                        <div id="@question.id" class="map" style="height: 600px; width: 600px;">

                                            <script>
                                                var map;

                                                function initMap() {
                                                    var lattitude = '@openQuestion.Lattitude.ToString()';
                                                    var longtitude = '@openQuestion.Longtitude.ToString()';
                                                    lattitude = parseFloat(lattitude.replace(",", "."));
                                                    longtitude = parseFloat(longtitude.replace(",", "."));

                                                    map = new google.maps.Map(document.getElementsByClassName('map')[0],
                                                        {
                                                            center: { lat: lattitude, lng: longtitude },
                                                            zoom: 15
                                                        });
                                                }
                                            </script>
                                        </div>
                                    </p>
                                </div>
                            </label>
                        </div>
                    }
                    <br/>
                }
                else if (question.GetType() == typeof(ChoiceQuestion))
                {
                    ChoiceQuestion choiceQuestion = (ChoiceQuestion) question;
                    if (choiceQuestion.ChoiseQuestionType == ChoiseQuestionType.DROPDOWN)
                    {
                        <div class="card w-100 disableBorder" id="contactBackground">
                                <p class="card-header" id="contactHeaders">@question.Title</p>
                                <div class="card-body">
                                    <p class="card-text">
                                        <select id="@question.id" name="@question.id">
                                            @foreach (var option in choiceQuestion.Options) {
                                                <option value="@option.Title">@option.Title</option>
                                                <br/>
                                            }
                                        </select>
                                    </p>
                                </div>
                        </div>
                        <br/>
                    }
                    else if (choiceQuestion.ChoiseQuestionType == ChoiseQuestionType.SINGLE_CHOICE)
                    {
                        <div class="card w-100 disableBorder" id="contactBackground">
                            <label for="@question.id">
                                <p class="card-header" id="contactHeaders">@question.Title</p>
                                <div class="card-body">
                                    <p class="card-text">
                                        @foreach (var option in choiceQuestion.Options) {
                                            <input type="radio" name="@choiceQuestion.id" id="@choiceQuestion.id" value="@option.Title">
                                            @option.Title<br/>
                                        }
                                    </p>
                                </div>
                            </label>
                        </div>
                        <br/>
                    }
                    else if (choiceQuestion.ChoiseQuestionType == ChoiseQuestionType.MULTIPLE_CHOICE)
                    {
                        <div class="card w-100 disableBorder"id="contactBackground">
                            <label for="@question.id">
                                <p class="card-header" id="contactHeaders">@question.Title</p>
                                <div class="card-body">
                                    <p class="card-text">
                                        @foreach (var option in choiceQuestion.Options) {
                                            <input type="checkbox" name="@choiceQuestion.id" id="@choiceQuestion.id" value="@option.Title">
                                            @option.Title<br/>
                                        }
                                    </p>
                                </div>
                            </label>
                        </div>
                        <br/>
                    }
                }
            }

            <input type="hidden" name="listId" value="@Model.Id"/>
            <input type="submit" value="Sla mijn antwoorden op" class="btn btn-primary">
        }
    </form>
</div>
</body>
</html>