@using PoC.Domain.project
@using Microsoft.AspNetCore.Mvc.Rendering
@using PoC.BL.manager.InputMethod
@using PoC.BL.manager.organisation
@using PoC.BL.manager.project
@using Twilio.Types
@model PoC.Models.PosterViewModel
@inject IOrganisationManager Organisation;
@inject IInputMethodManager InputMethodManager;
@{
    ViewBag.Title = "AddPoster";
    Layout = "_Layout";
}

@section Scripts
{
    <script type="module" src="/dist/addPoster.entry.js" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2nMl_Q-eXxZv_23EFLZ27rYLLpcZqQhg&callback=initMap" async defer></script>

}

@{
    var org = Context.Request.Path.Value.Split("/")[1];
}

<div class="container">
    <br/>
    <h2 class="text-center">Eigenschappen van de poster instellen</h2>
    <br/>
    <form id="formCreatePoster" asp-controller="IoT" asp-action="AddPoster" method="post" enctype="multipart/form-data">
        <div id="textColor">
            <div class="form-group">
                <div class="card w-100 disableBorder" id="contactBackground">
                    <div class="card-header" id="contactHeaders">
                        Beschrijving van de poster
                    </div>
                    <div class="card-body">
                        <input id="description" class="form-control col-8" type="text" placeholder="Beschrijving" name="description"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="card w-100 disableBorder" id="contactBackground">
                    <div class="card-header" id="contactHeaders">
                        Status van de IoT opstelling wijzingen
                    </div>
                    <div class="card-body">
                        <p>Actief</p>
                        <input id="active" class="form-control col-3" type="checkbox" name="active"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="card w-100 disableBorder" id="contactBackground">
                    <div class="card-header" id="contactHeaders">
                        Kies het project waarvan u een poster wil maken
                    </div>
                    <div class="card-body">
                        <select for="Project"
                                class="form-control" id="projectselect" name="projectselect">
                            @foreach (var project in Organisation.GetOrganisationByName(org.ToUpper()).Projects) {
                                <option value="@project.Id">@project.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="card w-100 disableBorder" id="contactBackground">
                <div class="card-header" id="contactHeaders">
                    Kies van welk type je een poster wil maken
                </div>
                <div class="card-body">
                    <div id="inputmethodselector" name="inputmethodselector">
                    </div>
                </div>
            </div>
            <br/>
            <div class="card w-100 disableBorder" id="contactBackground">
                <div class="card-header" id="contactHeaders">
                    Kies van welke onderwerp je een poster wil maken
                </div>
                <div class="card-body">
                    <div id="inputmethoddiv" name="inputmethoddiv"></div>
                    <div id="questiondiv" name="questiondiv"></div>
                </div>
            </div>
            <br/>
            <div class="card w-100 disableBorder" id="contactBackground">
                <div class="card-header" id="contactHeaders">
                    Kies van het aantal knoppen dat je wil toevoegen aan deze IoT-opstelling
                </div>
                <div class="card-body">
                    <div id="buttondiv" name="buttondiv"></div>
                    <input type="hidden" value="0" name="numberOfButtons" id="numberOfButtons"/>
                    <div id="buttonsdiv" name="buttonsdiv">
                    </div>
                </div>
            </div>
            <br/>
            <input id="latitude" name="latitude" type="hidden" value="51.219101"/>
            <input id="longitude" name="longitude" type="hidden" value="4.401070"/>
            <div class="card w-100 disableBorder" id="contactBackground">
                <div class="card-header" id="contactHeaders">
                    Kies de locatie van uw IoT-opstelling
                </div>

                <div id="map" class="map" style="height: 60vh; width: 70vw;">
                    <script>
                        var map;

                        function initMap() {
                            var gmarkers = [];

                            var uluru = { lat: 51.219101, lng: 4.401070 };
                            // The map, centered at Uluru
                            var map = new google.maps.Map(
                                document.getElementById('map'),
                                { zoom: 10, center: uluru });
                            // The marker, positioned at Uluru
                            var marker = new google.maps.Marker({ position: uluru, map: map });
                            gmarkers.push(marker);

                            function removeMarkers() {
                                for (i = 0; i < gmarkers.length; i++) {
                                    gmarkers[i].setMap(null);
                                }
                            }

                            google.maps.event.addListener(map,
                                "click",
                                function(e) {

                                    //lat and lng is available in e object
                                    var latLng = e.latLng;
                                    var lat = latLng.lat();
                                    var long = latLng.lng();
                                    document.getElementById("latitude").value = lat;
                                    document.getElementById("longitude").value = long;
                                    removeMarkers();
                                    marker = new google.maps.Marker({ position: latLng, map: map });
                                    gmarkers.push(marker);
                                });
                        }
                    </script>

                </div>
            </div>
            <br/>
            <div class="card w-100 disableBorder" id="contactBackground">
                <div class="card-header" id="contactHeaders">
                    Kies de start en eind datum waarop de IoT opstelling geplaatst wordt
                </div>
                <div class="card-body">
                    <div class="form-group">

                        <label for="start" class="control-label">Startdatum</label>
                        <input asp-for="Begin" id="start" name="start" class="form-control"/>
                        <span asp-validation-for="Begin" class="text-danger"></span>
                    </div>

                    <div class="form-group">

                        <label for="einde" class="control-label">Einddatum</label>
                        <input asp-for="End" id="einde" name="einde" class="form-control"/>
                        <span asp-validation-for="End" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br/>
            <button class="btn btn-primary" type="submit">Maak nieuwe poster</button>
        </div>
    </form>
</div>