@model PoC.Domain.iot.Poster

@{
    ViewBag.Title = "Bewerk Poster";
    Layout = "_Layout";
}
@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2nMl_Q-eXxZv_23EFLZ27rYLLpcZqQhg&callback=initMap" async defer></script>
}
<br/>
<h2 class="text-center">Bewerk Poster</h2>
<br/>
<div class="container">
    <form id="formEditPoster" asp-controller="IoT" asp-action="EditPoster" method="post" enctype="multipart/form-data">
        <div class="card w-100 disableBorder" id="contactBackground">
            <div class="card-header" id="contactHeaders">
                Beschrijving van de poster
            </div>
            <div class="card-body">
                <input id="description" asp-for="Description" class="form-control col-8" type="text" name="description" value="@Model.Description"/>
            </div>
        </div>
        <br/>
        <div class="card w-100 disableBorder" id="contactBackground">
            <div class="card-header" id="contactHeaders">
                Status van de IoT opstelling wijzingen
            </div>
            <div class="card-body">
                <p>Actief</p>
                @if (@Model.Active)
                {
                    <input asp-for="Active" id="active" class="form-control col-3" type="checkbox" name="active" checked="true" onclick="return false"/>
                }
                else
                {
                    <input asp-for="Active" id="active" class="form-control col-3" type="checkbox" name="active" onclick="return false"/>
                }

            </div>
        </div>
        <br/>
        <div class="card w-100 disableBorder" id="contactBackground">
            <div class="card-header" id="contactHeaders">
                ID's van de knoppen
            </div>
            <div class="card-body">
                @foreach (var button in Model.Buttons)
                {
                    <div class="row">
                        <label for="number">Knop nummer</label>
                        <input type="text" id="number" value="@button.Id" readonly/>
                    </div>
                }
            </div>
        </div>
        <br/>
        <input id="latitude" name="latitude" type="hidden" value="@Model.CurrentPlacement.Location.Latitude.ToString().Replace(",", ".")"/>
        <input id="longitude" name="longitude" type="hidden" value="@Model.CurrentPlacement.Location.Longitude.ToString().Replace(",", ".")"/>
        <div class="card w-100 disableBorder" id="contactBackground">
            <div class="card-header" id="contactHeaders">
                Wijzig de plaatsing van de IoT-opstelling
            </div>
            
                <div id="map" class="map" style="height: 60vh; width: 70vw; ">           
                    <script>
                        var map;

                        function initMap() {
                            var gmarkers = [];
                            var lat = @Model.CurrentPlacement.Location.Latitude.ToString().Replace(",", ".");
                            var lng = @Model.CurrentPlacement.Location.Longitude.ToString().Replace(",", ".");
                            var uluru = {lat: lat, lng: lng};
                            // The map, centered at Uluru
                            var map = new google.maps.Map(
                                document.getElementById('map'), {zoom: 10, center: uluru});
                            // The marker, positioned at Uluru
                            var marker = new google.maps.Marker({position: uluru, map: map});
                            gmarkers.push(marker);
                            function removeMarkers(){
                                for(i=0; i<gmarkers.length; i++){
                                    gmarkers[i].setMap(null);
                                }
                            }
                            google.maps.event.addListener(map, "click", function (e) {

                                //lat and lng is available in e object
                                var latLng = e.latLng;
                                var lat = latLng.lat();
                                var long = latLng.lng();
                                document.getElementById("latitude").value = lat;
                                document.getElementById("longitude").value = long;
                                removeMarkers();
                                marker = new google.maps.Marker({ position: latLng, map: map });
                                gmarkers.push(marker);
                            });
                        }
                    </script>
                </div>
        </div>
        <br/>
       <input type="hidden" id="start" name="start" class="form-control" value="@Model.CurrentPlacement.Begin"/>
        <input type="hidden" id="einde" name="einde" class="form-control" value="@Model.CurrentPlacement.End"/>
        <input type="hidden" id="project" name="project" class="form-control" value="@Model.CurrentPlacement.Project.Id"/>
        <button class="btn btn-primary" type="submit">Bewerk poster</button>  
    </form>
</div>