@using System.Drawing
@using System.IO
@using PoC.Domain.inputmethod
@using QRCoder
@using Twilio.Types
@using Image = System.Drawing.Image
@model List<PoC.Domain.iot.Poster>

@{
    Layout = "_Layout";
}

@section Scripts
{
    <script type="module" src="/dist/bootstrap_js.entry.js" defer></script>
    <script type="module" src="/dist/printposter.entry.js" defer></script>
}

@{
    var org = Context.Request.Path.Value.Split("/")[1];
}

<!DOCTYPE html>

<html>
<head>
    <title></title>

</head>
<body>
<br/>
<h2 class="text-center">Posters aanmaken en beheren voor de IoT opstelling</h2>
<br/>
<a asp-controller="IoT" asp-action="AddPoster" class="btn btn-primary">Nieuwe poster aanmaken</a>
<br/>
@{
    QRCodeGenerator qrGenerator = new QRCodeGenerator();
    QRCodeData qrCodeData;
}
<table class="table table-striped " id="textColor">
    <thead>
    <h3>Actieve posters</h3>
    <tr>
        <th>Beschrijving</th>
        <th>Vraag</th>
        <th>#Knoppen</th>
        <th>Acties</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var poster in Model) {
        if (poster.Active) {
            <tr>
                <td>@poster.Description</td>

                @if (poster.Question == null) {
                    <input id="inputmethod_@poster.Id" type="hidden" class="ideation" value="@poster.Ideation.Id"/>
                    <td>@poster.Ideation.TitleIdeation</td>
                    qrCodeData = qrGenerator.CreateQrCode(@Context.Request.Host.Value + "/" + @org + "/ideation/" + @poster.Ideation.Id, QRCodeGenerator.ECCLevel.Q);
                }
                else {
                    <input type="hidden" id="inputmethod_@poster.Id" class="question" value="@poster.Question.id"/>
                    <td>@poster.Question.Title</td>
                    qrCodeData = qrGenerator.CreateQrCode(@Context.Request.Host.Value + "/" + @org + "/QuestionList?id=" + @poster.Question.QuestionList.Id, QRCodeGenerator.ECCLevel.Q);
                }
                <td>
                    @poster.Buttons.Count
                </td>
                <td pid="@poster.Id">

                    <a asp-controller="IoT" asp-action="Editposter" asp-route-id="@poster.Id" class="btn btn-warning">Bewerk</a>
                    <button type="button" class="btn btn-danger deactivatePosterbtn">Deactiveren</button>


                    @{
                        QRCode qrCode = new QRCode(qrCodeData);
                        Bitmap qrCodeImage = qrCode.GetGraphic(20);
                        Directory.CreateDirectory("wwwroot/images/qrcodes/test");
                        qrCodeImage.Save("wwwroot/images/qrcodes/" + @poster.Id + "_qrcode.jpeg", System.Drawing.Imaging.ImageFormat.Jpeg);
                        string image = "/images/qrcodes/" + @poster.Id + "_qrcode.jpeg";
                    }

                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal_@poster.Id">
                        QR Code bekijken
                    </button>
                    <a asp-controller="IoT" asp-action="Viewposter" asp-route-id="@poster.Id" class="btn btn-success">Toon poster</a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal_@poster.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">QR code viewer</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <center>
                                        <img src=@image style="height: 20vw; width: 20vw">
                                    </center>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        }

    }

    </tbody>
</table>
<table class="table table-striped " id="textColor">
    <thead>
    <h3>Inactieve posters</h3>
    <tr>
        <th>Beschrijving</th>
        <th>Vraag</th>
        <th>#Knoppen</th>
        <th>Acties</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var poster in Model) {
        if (!poster.Active) {
            <tr>
                <td>@poster.Description</td>

                @if (poster.Question == null) {
                    <input id="inputmethod_@poster.Id" type="hidden" class="ideation" value="@poster.Ideation.Id"/>
                    <td>@poster.Ideation.TitleIdeation</td>
                    qrCodeData = qrGenerator.CreateQrCode(@Context.Request.Host.Value + "/" + @org + "/ideation/" + @poster.Ideation.Id, QRCodeGenerator.ECCLevel.Q);
                }
                else {
                    <input type="hidden" id="inputmethod_@poster.Id" class="question" value="@poster.Question.id"/>
                    <td>@poster.Question.Title</td>
                    qrCodeData = qrGenerator.CreateQrCode(@Context.Request.Host.Value + "/" + @org + "/QuestionList?id=" + @poster.Question.QuestionList.Id, QRCodeGenerator.ECCLevel.Q);
                }
                <td>
                    @poster.Buttons.Count
                </td>
                <td pid="@poster.Id">

                    <a asp-controller="IoT" asp-action="Editposter" asp-route-id="@poster.Id" class="btn btn-warning">Bewerk</a>
                    <button type="button" class="btn btn-danger reactivatePosterbtn">Reactiveren</button>


                    @{
                        QRCode qrCode = new QRCode(qrCodeData);
                        Bitmap qrCodeImage = qrCode.GetGraphic(20);
                        Directory.CreateDirectory("wwwroot/images/qrcodes/test");
                        qrCodeImage.Save("wwwroot/images/qrcodes/" + @poster.Id + "_qrcode.jpeg", System.Drawing.Imaging.ImageFormat.Jpeg);
                        string image = "/images/qrcodes/" + @poster.Id + "_qrcode.jpeg";
                    }

                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal_@poster.Id">
                        QR Code bekijken
                    </button>
                    <a asp-controller="IoT" asp-action="Viewposter" asp-route-id="@poster.Id" class="btn btn-success">Toon poster</a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal_@poster.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <center>
                                        <img src=@image style="height: 20vw; width: 20vw">
                                    </center>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        }

    }

    </tbody>
</table>

</body>
</html>