@model PoC.Domain.iot.Poster

<!DOCTYPE html>

<html>
<head>
    <title>Poster</title>
    <script type="module" src="/dist/printposter.entry.js" defer></script>
</head>
<body>
<div id="poster" class="text-center">
    @if (Model.Idea == null)
    {
        <h4>@Model.Question.Title</h4>
    
    }
    else
    {
        <h4>@Model.Ideation.TitleIdeation</h4>
    }
    <hr/>
    <h3>@Model.Description</h3> 
    <hr/>
    @foreach (var btn in Model.Buttons)
    {
        if (Model.Idea == null)
        {
            foreach (var option in btn.Option.Question.Options)
            {
                <div style="display: inline">@option.Title</div>
            }
        }
        else
        {
            <h4 style="display: inline">@Model.Idea.Title</h4>
        }

    }
    <hr/>
</div>
<button id="print">Print</button>
</body>
</html>