@model PoC.Domain.inputmethod.Ideation
    <div class="card w-100 disableBorder" id="contactBackground">
        @if (Model.HideIdeation) {
            <h4 style="font-weight: bold">Afgesloten Ideation</h4>
        }
        <p class="card-header" id="contactHeaders">
           @Model.TitleIdeation
        </p>
        <div class="card-body">
            <p>@Model.DescriptionIdeation</p>
            <a class="btn btn-primary" asp-controller="Ideation" asp-action="Index" asp-route-id="@Model.Id">Geef jouw mening of idee</a>
        </div>
    </div>
<br/>
