﻿@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Identity
@using PoC.Areas.Identity.Data
@inject SignInManager<PoCIdentityUser> SignInManager
@inject UserManager<PoCIdentityUser> UserManager


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - City of Ideas</title>

    <link rel="stylesheet" href="~/dist/site.css"/>
    <script type="module" src="~/dist/site.entry.js" defer></script>

</head>
<body>
<nav class="navbar navbar-expand sticky-top" id="navbar">
    <a class="navbar-brand" id="logo" href="/">
        <img alt="Brand"  src="/images/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-default my-2 my-sm-0" type="submit">Zoek</button>
            </form>


            @if (!Context.Request.GetDisplayUrl().Contains("superadmin"))
            {
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Home">Start <span class="sr-only">(current)</span></a>
                </li>
                if (SignInManager.IsSignedIn(User) && User.IsInRole("Moderator"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Moderator" asp-action="Index">Moderator</a>
                    </li>
                }
                if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin")))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Project" asp-action="ManageProjects">Beheer Projecten</a>
                    </li>
                }
            }

            @if (Context.Request.GetDisplayUrl().Contains("superadmin"))
            {
                string orgLink = "";
                if (@TempData["Orglink"] != null)
                {
                    orgLink = @TempData["Orglink"].ToString();
                }
                string home = "/" + orgLink + "/home";
                string moderator = "/" + orgLink + "/Moderator";
                string manageProjecten = "/" + orgLink + "/projecten/ManageProjects";
                <li class="nav-item active">
                    <a class="nav-link" href="@home">Start <span class="sr-only">(current)</span></a>
                </li>

              
                if (SignInManager.IsSignedIn(User) && User.IsInRole("Moderator"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@moderator">Moderator</a>
                    </li>
                }
                if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin")))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@manageProjecten">Beheer Projecten</a>
                    </li>
                }
            }

            @if (SignInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="SuperAdmin" asp-action="ManageAdmins">Beheer Admins</a>
                </li>
            }
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="SuperAdmin" asp-action="ManageOrganisations">Beheer Organisaties</a>
                </li>
            }
        </ul>

        <partial name="_LoginPartial"/>
    </div>
</nav>

<partial name="_CookieConsentPartial"/>

<div class="container">
    @RenderBody()
    <hr/>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
                    <p><a>City of Ideas</a> is een geregistreerde website, opgesteld volgens de laatste richtlijnen. </p>
                    <p class="h6">&copy; 2019 - City of Ideas</p>
                </div>
            </div>
        </div>
    </footer>
</div>


@RenderSection("Scripts", required: false)
</body>
</html>