﻿@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Identity
@using PoC.Areas.Identity.Data
@inject SignInManager<PoCIdentityUser> SignInManager
@inject UserManager<PoCIdentityUser> UserManager


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - City of Ideas</title>

    <link rel="stylesheet" href="~/dist/site.css"/>
    <script type="module" src="~/dist/site.entry.js" defer></script>

</head>
<body>
<nav class="navbar navbar-expand sticky-top" id="navbar">
    <a class="navbar-brand" id="logo" href="/">
        <img alt="Brand"  src="/images/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <partial name="_LoginPartial"/>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-offset 1 col-xs-11 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
                        {
                            <a id="list" class="btn btn-primary" title="Manage Organisations" asp-controller="SuperAdmin" asp-action="ManageOrganisations">
                                <i class="fas fa-tools fa-lg" aria-hidden="true"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    @RenderBody()
    <hr/>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
                    <p><a>City of Ideas</a> is een geregistreerde website, opgesteld volgens de laatste richtlijnen. </p>
                    <p class="h6">&copy; 2019 - City of Ideas</p>
                </div>
            </div>
        </div>
    </footer>
</div>


@RenderSection("Scripts", required: false)
</body>
</html>