@using Microsoft.AspNetCore.Identity
@using PoC.Areas.Identity.Data
@using PoC.BL.manager.user
@using PoC.Domain.user


@inject SignInManager<PoCIdentityUser> SignInManager
@inject UserManager<PoCIdentityUser> UserManager
@inject IUserManager RealUserManager

@if (SignInManager.IsSignedIn(User)) {

    
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
        @if (SignInManager.IsSignedIn(User)) {
           
            <li>
               <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hallo @RealUserManager.GetUser(UserManager.GetUserId(User)).UserName!</a> 
            </li>
        }
            <li>
                <button class="btn rounded-btn" type="submit" class="btn btn-link navbar-btn navbar-link">Uitloggen</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right navbar-margin">
        
        <li><a class="signin-btn" asp-area="Identity" asp-page="/Account/Register">Registreer</a></li>
        <li><a class="btn rounded-btn" asp-area="Identity" asp-page="/Account/Login">Inloggen</a></li>
    </ul>
}