﻿@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Beheer uw account</h2>

<div>
    <h4 class="text-center">Verander uw account instellingen</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9" id="textColor">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
