﻿@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configure authenticator app";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@*@Html.Partial("_StatusMessage", Model.StatusMessage)*@
<h4>@ViewData["Title"]</h4>
<div>
    <p>Om een externe authenticatie applicatie toe te voegen voert u volgende stappen uit:</p>
    <ol class="list">
        <li>
            <p>
                Download een two-factor authenticator app zoals Microsoft Authenticator voor
                <a href="https://go.microsoft.com/fwlink/?Linkid=825071">Windows Phone</a>,
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> of
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> of
                Google Authenticator voor
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> of
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Scan de QR Code met uw two factor authenticator app.</p>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                Zodra u de QR code gescanned zal uw two factor authenticator u voorzien van een unieke code. 
                Geef deze code in in het onderstaande veld.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">Verificatie Code</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Verifieër</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/lib/qrcode/qrcode.js"></script>
    <script type="text/javascript">
        new QrCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script>
}
