﻿@page
@model ExternalLoginsModel
@{
    ViewData["Title"] = "Manage your external logins";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

<partial name="_StatusMessage" for="StatusMessage" />
@if (Model.CurrentLogins?.Count > 0)
{
    <h4>Geregistreerde services</h4>
    <table class="table" id="textColor">
        <tbody>
            @foreach (var login in Model.CurrentLogins)
            {
                <tr>
                    <td>@login.LoginProvider</td>
                    <td>
                        @if (Model.ShowRemoveButton)
                        {
                        <form id="remove-login" asp-page-handler="RemoveLogin" method="post">
                            <div>
                                <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                <button type="submit" class="btn btn-default" title="Remove this @login.LoginProvider login from your account">Remove</button>
                            </div>
                        </form>
                        }
                        else
                        {
                        @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.OtherLogins?.Count > 0)
{
    <h4>Voeg een andere login service toe.</h4>
    <hr />
    <form id="link-login-form" asp-page-handler="LinkLogin" method="post" class="form-horizontal">
        <div id="socialLoginList">
            <p>
                @foreach (var provider in Model.OtherLogins)
                {
                    <button id="link-login-button" type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                }
            </p>
        </div>
    </form>
}
