﻿@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Persoonlijke Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Uw account bevat persoonlijke data. Hier kan u deze downloaden of verwijderen.</p>
        <p>
            <strong>Het verwijderen van deze data zorgt voor de onmiddelijke verwijdering van uw account. Deze actie is onomkeerbaar.</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">Download</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-default">Data verwijderen</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}