﻿@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Als u uw authenticator key reset zal uw authenticatie app niet werken tot u deze opnieuw instelt.</strong>
    </p>
    <p>
        Dit proces schakelt 2FA uit tot u uw authenticatie app verifiëert.
        Indien u het opzetten van uw authenticatie app niet volledig uitvoert loopt u het risico toegang tot uw account te verliezen.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reset authenticator key</button>
    </form>
</div>
