﻿@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authenticatie (2FA)";
}

@*@Html.Partial("_StatusMessage", Model.StatusMessage)*@
<h4>@ViewData["Title"]</h4>
@if (Model.Is2FaEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>U hebt geen recovery codes over.</strong>
            <p>U moet <a asp-page="./GenerateRecoveryCodes">een nieuwe set codes genereren</a> voordat u zich kan authorizeren met zo een code.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>U hebt 1 recovery code over.</strong>
            <p>U kan <a asp-page="./GenerateRecoveryCodes">een nieuwe set codes laten genereren</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>U hebt @Model.RecoveryCodesLeft recovery codes over.</strong>
            <p>U zou <a asp-page="./GenerateRecoveryCodes">een nieuwe set codes kunnen laten genereren</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-default">Vergeet deze browser</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-default">Schakel 2FA uit</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">Reset recovery codes</a>
}

<h5>Authenticator app</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Voeg authenticator app toe</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Setup authenticator app</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default">Reset authenticator app</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
}
