@model PoC.Domain.organisation.Organisation

@{
    Layout = "_Layout_Super_Home";
}

<!DOCTYPE html>
<html>
<head>
    <title>Organisatie @Model.Name kopiëren </title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<br/>
<h2 class="text-center">Organisatie @Model.Name kopiëren</h2>
<br/>
<form id="formCopyOrganisation" asp-controller="Superadmin" asp-action="CopyOrganisation" method="post" enctype="multipart/form-data">
    <div id="textColor">
    <div class="form-group">

        <label asp-for="Name" class="control-label">Naam Kopie Platform</label>
        <input asp-for="Name" class="form-control" \>
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>

    <input hidden id="oldOrganisationName" name="oldOrganisationName" value="@Model.Name" readonly/>
    <div class="form-group">

        <label asp-for="Description" class="control-label">Platform Beschrijving</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>

    <div class="form-group">

        <label asp-for="FeaturedText" class="control-label">Platform Featured Text</label>
        <textarea asp-for="FeaturedText" class="form-control"></textarea>
        <span asp-validation-for="FeaturedText" class="text-danger"></span>

    </div>

    <div class="form-group">

        <label asp-for="ZipCode" class="control-label">Postcode Zipcode</label>
        <input asp-for="ZipCode" class="form-control"/>
        <span asp-validation-for="ZipCode" class="text-danger"></span>

    </div>

    <h5 class="text-light"><u>Contactgegevens</u></h5>

    <div class="form-group">

        <label asp-for="TelephoneNumber" class="control-label">Gsm/Telefoonnummer</label>
        <input type="tel" pattern="[0-9]{9,10}" asp-for="TelephoneNumber" class="form-control"/>
        <span asp-validation-for="TelephoneNumber" class="text-danger"></span>

    </div>

    <div class="form-group">

        <label asp-for="Street" class="control-label">Straatnaam en huisnummer</label>
        <input asp-for="Street" class="form-control"/>
        <span asp-validation-for="Street" class="text-danger"></span>

    </div>

    <div class="form-group">

        <label asp-for="City" class="control-label">Stad</label>
        <input asp-for="City" class="form-control"/>
        <span asp-validation-for="City" class="text-danger"></span>

    </div>

    <div class="form-group">

        <label asp-for="Country" class="control-label">Land</label>
        <input asp-for="Country" class="form-control"/>
        <span asp-validation-for="Country" class="text-danger"></span>

    </div>

    <div class="form-group">

        <label asp-for="Email" class="control-label">Emailadres</label>
        <input type="email" asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>

    <h5 class="text-light"><u>Afbeeldingen</u></h5>

    <div class="form-group">
        <label for="copyImageOrganisation" class="control-label">Platform Afbeelding</label>
        <button class="btn btn-danger showCopyImageOrg">Bewerk</button>
        <input asp-for="Image" value="@Model.Image" class="form-control" readonly/>
        <input id="copyImageOrganisation" type="file" accept=".jpg,.jpeg,.png" name="copyImageOrganisation" class="form-control" style="display: none"/>
        <span id="copyImageOrganisationValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>
    </div>

    <div class="form-group">

        <label for="copyLogoOrganisation" class="control-label">Platform Logo</label>
        <button class="btn btn-danger showCopyLogoOrg">Bewerk</button>
        <input asp-for="Logo" value="@Model.Logo" class="form-control" readonly/>
        <input id="copyLogoOrganisation" type="file" accept=".jpg,.jpeg,.png" name="copyLogoOrganisation" class="form-control" style="display: none"/>
        <span id="copyLogoOrganisationValidation" class="text-danger" style="display: none">Kies een logo of zorg ervoor dat het logo van het type jpg of png is! </span>
    </div>

    <div class="form-group">
        <label for="copyDia1Organisation" class="control-label">Slideshow Afbeelding 1</label>
        <button class="btn btn-danger showCopyDia1Org">Bewerk</button>
        <input asp-for="Dia1" value="@Model.Dia1" class="form-control" readonly/>
        <input id="copyDia1Organisation" type="file" accept=".jpg,.jpeg,.png" name="copyDia1Organisation" class="form-control" style="display: none"/>
        <span id="copyDia1OrganisationValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>
    </div>

    <div class="form-group">
        <label for="copyDia2Organisation" class="control-label">Slideshow Afbeelding 2</label>
        <button class="btn btn-danger showCopyDia2Org">Bewerk</button>
        <input asp-for="Dia2" value="@Model.Dia2" class="form-control" readonly/>
        <input id="copyDia2Organisation" type="file" accept=".jpg,.jpeg,.png" name="copyDia2Organisation" class="form-control" style="display: none"/>
        <span id="copyDia2OrganisationValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>
    </div>

    <div class="form-group">
        <label for="copyDia3Organisation" class="control-label">Slideshow Afbeelding 3</label>
        <button class="btn btn-danger showCopyDia3Org">Bewerk</button>
        <input asp-for="Dia3" value="@Model.Dia3" class="form-control" readonly/>
        <input id="copyDia3Organisation" type="file" accept=".jpg,.jpeg,.png" name="copyDia3Organisation" class="form-control" style="display: none"/>
        <span id="copyDia3OrganisationValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>
    </div>

    <h5 class="text-light"><u>Optionele Styling</u></h5>
    <div class="form-group">

        <label asp-for="PrimaryColor" class="control-label">Primaire kleur </label>
        <input type="color" asp-for="PrimaryColor" value="@Model.PrimaryColor" class="col-1" readonly/>

    </div>

    <div class="form-group">

        <label asp-for="SecondaryColor" class="control-label">Secondaire kleur</label>
        <input type="color" asp-for="SecondaryColor" value="@Model.SecondaryColor" class="col-1" readonly/>

    </div>

    <div class="form-group">

        <label asp-for="TertiaryColor" class="control-label">Tertiaire kleur </label>
        <input type="color" asp-for="TertiaryColor" value="@Model.TertiaryColor" class="col-1" readonly/>

    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <input id="copyOrganisationbtn" type="submit" value="Organisatie kopiëren"/>
    </div>
</form>
</body>
</html>