@model PoC.Models.OrganisationModel
@{

    Layout = "_Layout_Super_Home";
}

<!DOCTYPE html>

<html>
<head>
    <title>Nieuw Platform</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<br/>
<h2 class="text-center">Nieuw Platform Aanmaken</h2>

<form id="formCreateOrganisation" asp-controller="Superadmin" asp-action="CreateOrganisation" method="post" enctype="multipart/form-data">
    <div id="textColor">
        <div class="form-group">

            <label asp-for="Name" class="control-label">Platform Naam</label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="Description" class="control-label">Platform Beschrijving</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="FeaturedText" class="control-label">Platform Featured Text</label>
            <textarea asp-for="FeaturedText" class="form-control"></textarea>
            <span asp-validation-for="FeaturedText" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="ZipCode" class="control-label">Platform Zipcode</label>
            <input type="number" asp-for="ZipCode" class="form-control"/>
            <span asp-validation-for="ZipCode" class="text-danger"></span>

        </div>

        <h5 class="text-light"><u>Contactgegevens</u></h5>

        <div class="form-group">

            <label asp-for="TelephoneNumber" class="control-label">Gsm/Telefoonnummer</label>
            <input type="tel" pattern="[0-9]{9,10}" asp-for="TelephoneNumber" class="form-control"/>
            <span asp-validation-for="TelephoneNumber" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="Street" class="control-label">Straatnaam en huisnummer</label>
            <input asp-for="Street" class="form-control"/>
            <span asp-validation-for="Street" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="City" class="control-label">Stad</label>
            <input asp-for="City" class="form-control"/>
            <span asp-validation-for="City" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="Country" class="control-label">Land</label>
            <input asp-for="Country" class="form-control"/>
            <span asp-validation-for="Country" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="Email" class="control-label">Emailadres</label>
            <input type="email" asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>

        <h5 class="text-light"><u>Afbeeldingen</u></h5>

        <div class="form-group">

            <label asp-for="ImageOrganisation" class="control-label">Platform Afbeelding</label>
            <input id="createImageOrganisation" accept=".jpg,.jpeg,.png" asp-for="ImageOrganisation" class="form-control"/>
            <span id="createImageOrganisationValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>
        </div>

        <div class="form-group">

            <label asp-for="Logo" class="control-label">Platform Logo</label>
            <input id="createLogoOrganisation" accept=".jpg,.jpeg,.png" asp-for="Logo" class="form-control"/>
            <span id="createLogoOrganisationValidation" class="text-danger" style="display: none">Kies een logo of zorg ervoor dat het logo van het type jpg of png is! </span>
        </div>

        <div class="form-group">

            <label asp-for="Dia1" class="control-label">Slideshow Afbeelding 1</label>
            <input id="createDia1Organisation" accept=".jpg,.jpeg,.png" asp-for="Dia1" class="form-control"/>
            <span id="createDia1OrganisationValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>
        </div>

        <div class="form-group">

            <label asp-for="Dia2" class="control-label">Slideshow Afbeelding 2</label>
            <input id="createDia2Organisation" accept=".jpg,.jpeg,.png" asp-for="Dia2" class="form-control"/>
            <span id="createDia2OrganisationValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>
        </div>

        <div class="form-group">

            <label asp-for="Dia3" class="control-label">Slideshow Afbeelding 3</label>
            <input id="createDia3Organisation" accept=".jpg,.jpeg,.png" asp-for="Dia3" class="form-control"/>
            <span id="createDia3OrganisationValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>
        </div>

        <h5 class="text-light"><u>Optionele Styling</u></h5>
        <div class="form-group">

            <label asp-for="PrimaryColor" class="control-label">Primaire kleur </label>
            <input type="color" asp-for="PrimaryColor" class="col-1"/>

        </div>

        <div class="form-group">

            <label asp-for="SecondaryColor" class="control-label">Secondaire kleur</label>
            <input type="color" asp-for="SecondaryColor" class="col-1"/>

        </div>

        <div class="form-group">

            <label asp-for="TertiaryColor" class="control-label">Tertiaire kleur </label>
            <input type="color" asp-for="TertiaryColor" class="col-1"/>

        </div>


        <div asp-validation-summary="All" class="text-danger"></div>
        <input class="btn btn-primary" id="createOrganisationbtn" type="submit" value="Platform opstellen"/>
    </div>
</form>

</body>
</html>