@model PoC.Domain.organisation.Organisation

@{
    Layout = "_Layout_Super_Home";
}

<!DOCTYPE html>
<html>
<head>
    <title>Bewerk Organisatie @Model.Name</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<br/>
<h2 class="text-center">Organisatie @Model.Name bewerken</h2>
<br/>
<form id="formEditOrganisation" asp-controller="Superadmin" asp-action="EditOrganisation" method="post" enctype="multipart/form-data">
    <div id="textColor">
    <div class="form-group">

        <input type="hidden" asp-for="id" class="form-control" value="@Model.id" readonly/>

    </div>

    <div class="form-group">

        <label asp-for="Name" class="control-label">Platform Naam</label>
        <input asp-for="Name" class="form-control" readonly/>
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>


    <div class="form-group">

        <label asp-for="Description" class="control-label">Platform Beschrijving</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>

    <div class="form-group">

        <label asp-for="FeaturedText" class="control-label">Platform Featured Text</label>
        <textarea asp-for="FeaturedText" class="form-control"></textarea>
        <span asp-validation-for="FeaturedText" class="text-danger"></span>

    </div>

    <div class="form-group">

        <label asp-for="ZipCode" class="control-label">Platform Zipcode</label>
        <input asp-for="ZipCode" class="form-control"/>
        <span asp-validation-for="ZipCode" class="text-danger"></span>

    </div>
    <h5 class="text-light"><u>Contactgegevens</u></h5>

    <div class="form-group">

        <label asp-for="TelephoneNumber" class="control-label">Gsm/Telefoonnummer</label>
        <input type="tel" pattern="[0-9]{9,10}" asp-for="TelephoneNumber" class="form-control"/>
        <span asp-validation-for="TelephoneNumber" class="text-danger"></span>

    </div>

    <div class="form-group">

        <label asp-for="Street" class="control-label">Straatnaam en huisnummer</label>
        <input asp-for="Street" class="form-control"/>
        <span asp-validation-for="Street" class="text-danger"></span>

    </div>

    <div class="form-group">

        <label asp-for="City" class="control-label">Stad</label>
        <input asp-for="City" class="form-control"/>
        <span asp-validation-for="City" class="text-danger"></span>

    </div>

    <div class="form-group">

        <label asp-for="Country" class="control-label">Land</label>
        <input asp-for="Country" class="form-control"/>
        <span asp-validation-for="Country" class="text-danger"></span>

    </div>

    <div class="form-group">

        <label asp-for="Email" class="control-label">Emailadres</label>
        <input type="email" asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>
    <h5 class="text-light"><u>Afbeeldingen</u></h5>

    <div class="form-group">
        <label for="imageOrganisation" class="control-label">Platform Afbeelding</label>
        <button class="btn btn-danger showEditImageOrg">Bewerk</button>
        <input asp-for="Image" value="@Model.Image" class="form-control" readonly/>
        <input id="imageOrganisation" type="file" accept=".jpg,.jpeg,.png" name="imageOrganisation" class="form-control" style="display: none"/>
        <span id="imageOrganisationValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>
    </div>

    <div class="form-group">

        <label for="logoOrganisation" class="control-label">Platform Logo</label>
        <button class="btn btn-danger showEditLogoOrg">Bewerk</button>
        <input asp-for="Logo" value="@Model.Logo" class="form-control" readonly/>
        <input id="logoOrganisation" type="file" accept=".jpg,.jpeg,.png" name="logoOrganisation" class="form-control" style="display: none"/>
        <span id="logoOrganisationValidation" class="text-danger" style="display: none">Kies een logo of zorg ervoor dat het logo van het type jpg of png is! </span>
    </div>

    <div class="form-group">
        <label for="dia1" class="control-label">Slideshow Afbeelding 1</label>
        <button class="btn btn-danger showEditDia1Org">Bewerk</button>
        <input asp-for="Dia1" class="form-control" readonly/>
        <input id="dia1Organisation" type="file" accept=".jpg,.jpeg,.png" name="dia1" class="form-control" style="display: none"/>
        <span id="dia1OrganisationValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>
    </div>

    <div class="form-group">
        <label for="dia2" class="control-label">Slideshow Afbeelding 2</label>
        <button class="btn btn-danger showEditDia2Org">Bewerk</button>
        <input asp-for="Dia2" class="form-control" readonly/>
        <input id="dia2Organisation" type="file" accept=".jpg,.jpeg,.png" name="dia2" class="form-control" style="display: none"/>
        <span id="dia2OrganisationValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>
    </div>


    <div class="form-group">
        <label for="dia3" class="control-label">Slideshow Afbeelding 3</label>
        <button class="btn btn-danger showEditDia3Org">Bewerk</button>
        <input asp-for="Dia3" class="form-control" readonly/>
        <input id="dia3Organisation" type="file" accept=".jpg,.jpeg,.png" name="dia3" class="form-control" style="display: none"/>
        <span id="dia3OrganisationValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>
    </div>

    <h5 class="text-light"><u>Optionele Styling</u></h5>
    <div class="form-group">

        <label asp-for="PrimaryColor" class="control-label">Primaire kleur </label>
        <input type="color" asp-for="PrimaryColor" class="col-1"/>

    </div>

    <div class="form-group">

        <label asp-for="SecondaryColor" class="control-label">Secondaire kleur</label>
        <input type="color" asp-for="SecondaryColor" class="col-1"/>

    </div>

    <div class="form-group">

        <label asp-for="TertiaryColor" class="control-label">Tertiaire kleur </label>
        <input type="color" asp-for="TertiaryColor" class="col-1"/>

    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <input id="editOrganisationbtn" type="submit" value="Organisatie bewerken"/>
    </div>
</form>
</body>
</html>