@using Microsoft.AspNetCore.Identity
@using PoC.Areas.Identity.Data
@model List<PoC.Domain.organisation.Organisation>
@inject SignInManager<PoCIdentityUser> SignInManager;
@inject UserManager<PoCIdentityUser> UserManager;

@{
    ViewData["Title"] = "Organisation Management";
    Layout = "_Layout_Super_Home";
}

@{
    <script type="module" src="~/dist/index.entry.js" defer></script>
    <script type="module" src="/dist/site.entry.js" defer></script>
    <script type="module" src="/dist/bootstrap_js.entry.js" defer></script>
}
<body>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
{
    <br/>
        <h2 class="text-center">Actieve Organisaties</h2>
        <table class="table table-striped " id="textColor">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Naam Geformatteerd</th>
                <th>Zipcode</th>
                <th>Acties</th>
            </tr>
            <tbody id="tableContentBody">
            @foreach (var org in Model) {
                if (org.Closed == false) {
                    <tr id="@org.id">
                        <td>@org.Name</td>
                        <td>@org.FormattedName</td>
                        <td>@org.ZipCode</td>
                        <td oid="@org.id">
                            <form asp-controller="Superadmin" asp-action="CopyOrganisation" asp-route-id="@org.id" method="get" class="form-inline">

                                <input type="submit" value="Organisatie kopiëren" class="btn btn-danger copyOrg"/>
                            </form>
                            <form asp-controller="Superadmin" asp-action="EditOrganisation" asp-route-id="@org.id" method="get" class="form-inline">

                                <input type="submit" value="Aanpassen" class="btn btn-danger changeOrg"/>
                            </form>
                            <button type="button" class="btn btn-danger deactivateOrgbtn">Deactiveren</button>
                        </td>
                    </tr>
                }
            }
            </tbody>
            </thead>
        </table>

        <h2 class="text-center">Inactieve Organisaties</h2>
        <table class="table  table-striped " id="textColor">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Naam Geformatteerd</th>
                <th>Zipcode</th>
                <th>Acties</th>
            </tr>
            <tbody id="tableContentBody">
            @foreach (var org in Model) {
                if (org.Closed == true) {
                    <tr id="@org.id">
                        <td>@org.Name</td>
                        <td>@org.FormattedName</td>
                        <td>@org.ZipCode</td>
                        <td oid="@org.id">
                            <form asp-controller="Superadmin" asp-action="EditOrganisation" asp-route-id="@org.id" method="get" class="form-inline">

                                <input type="submit" value="Update" class="btn btn-danger changeOrg"/>
                            </form>
                            <button type="button" class="btn btn-danger reactivateOrgbtn">Reactiveren</button>
                        </td>
                    </tr>
                }
            }
            </tbody>
            </thead>
        </table>
    
    <form asp-controller="Superadmin" asp-action="CreateOrganisation" method="get" class="form-inline">

        <input type="submit" value="Create Organisation" class="btn btn-primary createOrg"/>
    </form>
}
</body>