@model List<PoC.Domain.user.User>

@{
    ViewData["Title"] = "Admin Management";
    
    Layout = "_Layout";
}

@{
    <script type="module" src="~/dist/index.entry.js" defer></script>
    <script type="module" src="/dist/site.entry.js" defer></script>
    <script type="module" src="/dist/bootstrap_js.entry.js" defer></script>
}
<body>
<br/>
<h2 class="text-center">Admins beheren voor organisatie: @TempData["Orglink"]</h2>
<br/>
<div class="container">
        
    
    <table class="table table-striped" id="textColor">
        <thead>
        <tr>
            <th>Gebruikersnaam</th>
            <th>Naam</th>
            <th>Email</th>
            <th>Geverifieerd</th>
            <th>Geblokkeerd</th>
            <th>Acties</th>
        </tr>
        <tbody id="tableContentBody">
        @foreach (var user in Model)
        {
            <tr id="@user.UserId">
                <td>@user.UserName</td>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Email</td>
                <td>
                    @if (@user.Verified) {
                        <input type="checkbox" checked disabled/>
                    }
                    else {
                        <input type="checkbox" disabled/>
                    }
                </td>
                <td>
                    @if (@user.Blocked)
                    {
                        <input id="input_@user.UserId" type="checkbox" checked disabled/>
                    }
                    else
                    {
                        <input id="input_@user.UserId" type="checkbox" disabled/>
                    }
                </td>
                <td uid="@user.UserId">
                    <button type="button" class="btn btn-warning demoteAdmin">Neem rechten af</button>
                    <button type="button" class="btn btn-danger usrdel">Verwijder gebruiker</button>
                    @if (!@user.Blocked)
                    {
                        <button id="unblocked_@user.UserId" type="button" class="btn btn-warning usrBlock">Blokkeer gebruiker</button>
                    }
                    else
                    {
                        <button id="blocked_@user.UserId" type="button" class="btn btn-warning usrUnblock">Deblokkeer gebruiker</button>
                    }
                </td>
            </tr>
        }
        </tbody>
        </thead>
    </table>
</div>
</body>