﻿@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>
<h4>Associeër uw @Model.LoginProvider account.</h4>
<hr />

<p class="text-info">
    Je bent succesvol ingelogd met je  <strong>@Model.LoginProvider</strong> account.
    Gelieve onderstaande informatie te verifiëren en vervolledigen alvorens te registreren.
</p>

<div class="row" id="textColor">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Gender"></label>
                <br/>
                <select asp-for="Input.Gender" asp-items="Model.Genders" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Input.PostalCode"></label>
                <input asp-for="Input.PostalCode" class="form-control" />
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Birthdate"></label>
                <input asp-for="Input.Birthdate" class="form-control" />
                <span asp-validation-for="Input.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Registreer</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

