@using Microsoft.AspNetCore.Identity
@using PoC.Areas.Identity.Data
@using PoC.BL.manager.input
@using PoC.BL.manager.user
@using PoC.Domain.datatype
@model IEnumerable<PoC.Domain.input.Reaction>
@inject IUserManager IUserManager;
@inject UserManager<PoCIdentityUser> IdUserManager;
@inject SignInManager<PoCIdentityUser> SignInManager;
@inject IInputManager IinputManager;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


@section scripts
{
    <script type="module" src="~/dist/bootstrap_js.entry.js" defer></script>
}
<!DOCTYPE html>

<html>
<head>
    <title>Moderator</title>
</head>
<body>
<br/>
<h2 class="text-center">Gebruikers Modereren</h2>
<br/>


    <table class="table m-3" id="textColor">
        <thead>   
        <tr >
            <th item rowspan="2" >Reactie</th>
            <th rowspan="2" >Link</th>
            <th  colspan="2">Notificatie</th>
            <th  rowspan="2">Gebruiker</th>
            <th  rowspan="2">Acties</th>
        </tr>
        <tr >
            <th >Reden</th>
            <th >Reactie</th>
            
        </tr>
        </thead>
        <tbody>
        @foreach (var reaction in Model)
        {
            Console.WriteLine(reaction.User);
            foreach (var notification in reaction.Notifications)
            {
                if (!notification.Moderated)
                {
                    if (notification.Moderations.Count() != 0)
                    {
                        foreach (var moderation in notification.Moderations)
                        {
                            if (moderation.Action != ModerationAction.REDIRECT)
                            {
                                <tr  id="@notification.NotificationId">
                                    <td >@reaction.Comment</td>
                                    <td ><a href="/@Url.Link(null,null).Split("/")[3]/ideation/@reaction.Reactable.GetParent().Id">@reaction.Reactable.GetParent().DescriptionIdeation</a></td>
                                    <td >@notification.Type</td>
                                    <td >@notification.Description</td>
                                    <td >@reaction.User.UserName</td>
                                    <td  nid="@notification.NotificationId" cid="@reaction.GetId()" iid="@reaction.Reactable.GetParent().Id" uid="@reaction.User.UserId">
                                        <button class="btn-secondary ignore ">negeren</button>
                                        <button class="btn-secondary warning delete">reactie verwijderen</button>
                                        <button class="btn-secondary block">gebruiker blokkeren</button>
                                    </td>
                                </tr>
                            }
                        }  
                    }
                    
                    else
                    {
                        <tr  id="@notification.NotificationId">
                            <td >@reaction.Comment</td>
                            <td ><a href="/@Url.Link(null,null).Split("/")[3]/ideation/@reaction.Reactable.GetParent().Id">@reaction.Reactable.GetParent().DescriptionIdeation</a></td>
                            <td >@notification.Type</td>
                            <td >@notification.Description</td>
                            <td >@reaction.User.UserName</td>
                            <td  nid="@notification.NotificationId" cid="@reaction.GetId()" iid="@reaction.Reactable.GetParent().Id" uid="@reaction.User.UserId">
                                <button class="btn btn-success ignore">negeren</button>
                                <button class="btn btn-warning delete">reactie verwijderen</button>
                                <button class="btn btn-danger block">gebruiker blokkeren</button>
                            </td>
                        </tr>
                    }
                }

    
            }

        }

    }
    </tbody>
</table>
</body>
</html>