@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@model int

@{
    ViewBag.Title = "404";
    Layout = "_Layout404";
}

<h2 class="text-center"> De pagina die u probeerde te bezoeken, bestaat niet.</h2>

<div class="text-center">
    <img class="img-fluid" width="50%" height="30%" src="~/images/Error404.jpg" alt="">
</div>

<br/>
<form class="text-center" action="/">
    <button style="width: 20%;" class="btn btn-primary" type="submit">Home</button>
</form>