@model PoC.Domain.inputmethod.Ideation

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Bewerk Ideation @Model.TitleIdeation</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<br/>
<h2 class="text-center">Huidige Ideation bewerken</h2>

<form id="formEditIdeation" asp-controller="Ideation" asp-action="EditIdeation" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
    <div id="textColor">

        <div class="form-group">

            <input type="hidden" asp-for="Id" class="form-control" value="@Model.Id" readonly/>

        </div>

        <div class="form-group">

            <label asp-for="Type">Ideation Type</label>
            <select asp-for="Type"
                    asp-items="@(new SelectList(Enum.GetValues(typeof(PoC.Domain.datatype.IdeationType))))"
                    class="form-control">
            </select>


        </div>

        <div class="form-group">

            <label asp-for="TitleIdeation" class="control-label">Titel Ideation</label>
            <input asp-for="TitleIdeation" class="form-control" value="@Model.TitleIdeation"/>
            <span asp-validation-for="TitleIdeation" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="DescriptionIdeation" class="control-label">Beschrijving</label>
            <textarea asp-for="DescriptionIdeation" class="form-control" value="@Model.DescriptionIdeation"> </textarea>
            <span asp-validation-for="DescriptionIdeation" class="text-danger"></span>

        </div>

        <div class="form-group">


            <label asp-for="Begin" class="control-label">Startdatum</label>
            <input asp-for="Begin" class="form-control" value="@Model.Begin.ToString("yyyy-MM-dd")"/>
            <span asp-validation-for="Begin" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="End" class="control-label">Einddatum</label>
            <input asp-for="End" class="form-control" value="@Model.End.ToString("yyyy-MM-dd")"/>
            <span asp-validation-for="End" class="text-danger"></span>

        </div>

        <div class="form-group">

            <label asp-for="BackgroundLink" class="control-label">(Optioneel) Link Extra Info</label>
            <input asp-for="BackgroundLink" type="url" class="form-control"/>

        </div>

        <div class="form-group">
            <label for="imageIdeation" class="control-label">Afbeelding</label>
            <button class="btn btn-danger showEditImageIdeation">Bewerk</button>
            <input asp-for="ImageName" value="@Model.ImageName" class="form-control" readonly/>
            <input id="imageIdeation" type="file" accept=".jpg,.jpeg,.png" name="imageIdeation" style="display: none" class="form-control"/>
            <span id="imageIdeationValidation" class="text-danger" style="display: none">Kies een afbeelding of zorg ervoor dat de afbeelding van het type jpg of png is! </span>
        </div>

        <div class="form-group">

            <h3>Configuratie van de ideeën</h3>

        </div>

        <div class="form-group">

            <div class="container">
                <table class="table" id="textColor">
                    <tr>
                        <td class="col-sm-3">Item</td>
                        <td class="col-sm-3">Toegelaten?</td>
                        <td class="col-sm-3">Hoeveel</td>
                        <td class="col-sm-3">Verplicht?</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            <label class="form-control">Image</label>
                        </td>
                        <td class="col-sm-3">
                            <input type="checkbox" asp-for="AllowImage" value="true" checked="@Model.AllowImage" class="form-control checkImage"/>
                        </td>

                        @if (Model.AllowImage == true) {
                            <td class="col-sm-3">
                                <input type="number" asp-for="NumberOfImages" max="10" min="1" value="@Model.NumberOfImages" class="form-control imgDisable"/>
                            </td>
                            <td class="col-sm-3">
                                <input type="checkbox" asp-for="ImageRequired" value="true" checked="@Model.ImageRequired" class="form-control imgDisable"/>
                            </td>
                        }

                        @if (Model.AllowImage == false) {
                            <td class="col-sm-3">
                                <input type="number" asp-for="NumberOfImages" max="10" min="1" value="@Model.NumberOfImages" class="form-control imgDisable" disabled/>
                            </td>
                            <td class="col-sm-3">
                                <input type="checkbox" asp-for="ImageRequired" value="true" checked="@Model.ImageRequired" class="form-control imgDisable" disabled/>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            <label class="form-control">Video</label>
                        </td>
                        <td class="col-sm-3">
                            <input type="checkbox" asp-for="AllowVideo" value="true" checked="@Model.AllowVideo" class="form-control checkVideo"/>
                        </td>
                        @if (@Model.AllowVideo == true) {
                            <td class="col-sm-3">
                                <input type="number" asp-for="NumberOfVideos" max="10" min="1" value="@Model.NumberOfVideos" class="form-control vidDisable"/>
                            </td>
                            <td class="col-sm-3">
                                <input type="checkbox" asp-for="VideoRequired" value="true" checked="@Model.VideoRequired" class="form-control vidDisable"/>
                            </td>
                        }

                        @if (@Model.AllowVideo == false) {
                            <td class="col-sm-3">
                                <input type="number" asp-for="NumberOfVideos" max="10" min="1" value="@Model.NumberOfVideos" class="form-control vidDisable" disabled/>
                            </td>
                            <td class="col-sm-3">
                                <input type="checkbox" asp-for="VideoRequired" value="true" checked="@Model.VideoRequired" class="form-control vidDisable" disabled/>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            <label class="form-control">VideoLink</label>
                        </td>
                        <td class="col-sm-3">
                            <input type="checkbox" asp-for="AllowVideoLink" value="true" checked="@Model.AllowVideoLink" class="form-control checkVideoLink"/>
                        </td>
                        @if (Model.AllowVideoLink == true) {
                            <td class="col-sm-3">
                            </td>
                            <td class="col-sm-3">
                                <input type="checkbox" asp-for="VideoLinkRequired" value="true" checked="@Model.VideoLinkRequired" class="form-control vidLinkDisable"/>
                            </td>
                        }

                        @if (Model.AllowVideoLink == false) {
                            <td class="col-sm-3">
                            </td>
                            <td class="col-sm-3">
                                <input type="checkbox" asp-for="VideoLinkRequired" value="true" checked="@Model.VideoLinkRequired" class="form-control vidLinkDisable" disabled/>
                            </td>
                        }
                    </tr>
                </table>
            </div>

        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
        <input id="editIdeationbtn" type="submit" value="Ideation bewerken"/>
    </div>
</form>
</body>
</html>