@using Microsoft.AspNetCore.Identity
@using PoC.Areas.Identity.Data
@using PoC.BL.manager.input
@using PoC.BL.manager.user
@using PoC.Domain.datatype
@using PoC.Domain.input
@model PoC.Domain.inputmethod.Ideation
@inject SignInManager<PoCIdentityUser> SignInManager
@inject UserManager<PoCIdentityUser> UserManager
@inject IUserManager RealUserManager; 
@inject IInputManager InputManager;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@section scripts
{
    <script type="module" src="~/dist/bootstrap_js.entry.js" defer></script>
    <script type="module" src="~/dist/site.entry.js" defer></script>

}

@{
    var ideationPath = ViewData["ideationImage"];
    var imageSource = "~/organisations/" + @ideationPath + "/organisation/projects/ideations/images/" + Model.ImageName;
}


<!DOCTYPE html>

<html>
<head>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v3.3">
    </script>

    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="module" src="/lib/bootstrap/dist/css/bootstrap.css" defer></script>
    <script type="module" src="~/dist/bootstrap_js.entry.js" defer></script>
</head>
<body>


<div>
@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin"))) {
    if (Model.HideIdeation) {
        <h2>Afgesloten</h2>
    }
    <br/>
    <table>
        <form asp-controller="Ideation" asp-action="EditIdeation" asp-route-id="@Model.Id" method="get" class="form-inline">
            <input type="submit" value="Bewerk Ideation" class="btn btn-primary"/>
        </form>
        <button class="btn btn-outline-dark changeStateIdeationbtn" hideIdeation="@Model.HideIdeation.ToString()" ideationid="@Model.Id">Verander Status</button>
    </table>
}
<h2 class="text-center">@Model.TitleIdeation</h2>
<br/>
<div class="col-md-8">
    <img class="img-fluid " id="ideationDetail" src="@Url.Content(imageSource)" alt="">
</div>
<div class="row">
    <div class="card dateCards disableBorder" id="contactBackground">
        <p class="card-header" id="contactHeaders">
            Idee beschrijving
        </p>
        <div class="card-body">
            <p class="card-text">
                <p class="card-text">@Model.DescriptionIdeation</p>
            </p>
        </div>
    </div>
    <div class="card dateCards disableBorder" id="contactBackground">
        <p class="card-header" id="contactHeaders">
            Idee details
        </p>
        <div class="card-body">
            <p class="card-text">
                <p>Begindatum: @Model.Begin.ToShortDateString()</p>
                <p>Einddatum: @Model.End.ToShortDateString()</p>
                @if (Model.BackgroundLink != null) {
                    <a class="text-warning" href="@Model.BackgroundLink"> @Model.BackgroundLink</a>
                }
                <a class="number_likes_shares">Aantal keer gedeeld: </a>
                <a id="share_@Model.Id">
                    <i class="number_likes_shares" id="number-shares_@Model.Id">@Model.Shares.Count()</i>
                </a>
                <br/>
                </p>
        </div>
    </div>
</div>
<div id="ideas_@Model.Id">
<br/>
<h2 class="text-center">Ideeën</h2>
@if ((User.Identity.IsAuthenticated && @Model.Type == IdeationType.FREE_IDEATION) || (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin")) && @Model.Type == IdeationType.CLOSED_IDEATION)) {
    <input type="button" id="showCreateIdea" class="btn btn-primary reactionField" value="Geef je eigen idee!"/>
    <div id="divCreateIdea" style="display: none">
        <div id="textColor">
            <form id="formCreateIdea" asp-controller="Ideation" asp-action="AddIdeaToIdeation" method="post" enctype="multipart/form-data">

                <input hidden id="imageRequired" value="@Model.ImageRequired" readonly/>
                <input hidden id="videoRequired" value="@Model.VideoRequired" readonly/>
                <input hidden id="videoLinkRequired" value="@Model.VideoLinkRequired" readonly/>

                <input hidden id="numberOfImages" value="@Model.NumberOfImages" readonly/>
                <input hidden id="numberOfVideos" value="@Model.NumberOfVideos" readonly/>

                <div class="form-group">
                    <label for="titleIdea" class="control-label">Titel Idee</label>
                    <input id="titleIdea" type="text" name="titleIdea" class="form-control"/>
                    <span id="titleIdeaValidation" class="text-danger" style="display: none">Verplicht, maximaal 50 characters. </span>
                </div>

                <div class="form-group">
                    <label for="descriptionIdea" class="control-label">Beschrijving Idee</label>
                    <textarea id="descriptionIdea" type="text" name="descriptionIdea" class="form-control"></textarea>
                    <span id="descriptionIdeaValidation" class="text-danger" style="display: none">Verplicht, maximaal 1000 characters. </span>
                </div>

                @if (Model.AllowImage) {
                    <div class="form-group">
                        @if (Model.ImageRequired) {
                            <label for="imageIdea" class="control-label">Selecteer minimum 1 afbeelding , maximaal @Model.NumberOfImages afbeelding(en)</label>
                            <span id="imageRequiredValidation" class="text-danger" style="display: none">Je moet een afbeelding selecteren!</span>
                        }
                        else {
                            <label for="imageIdea" class="control-label">(Optioneel) Maximaal @Model.NumberOfImages afbeelding(en)</label>
                        }

                        @if (Model.NumberOfImages > 1) {
                            <input hidden id="ideaAmountOfImages" value="@Model.NumberOfImages" readonly/>
                            <input id="imageIdea" type="file" name="imageIdea" accept=".jpg,.jpeg,.png" class="form-control" multiple/>
                        }
                        else {
                            <input id="imageIdea" type="file" name="imageIdea" accept=".jpg,.jpeg,.png" class="form-control"/>
                        }

                        <span id="imageIdeaValidation" class="text-danger" style="display: none">Kies zeker 1 afbeelding van het type jpg of png! </span>
                        <span id="imageNumberValidation" class="text-danger" style="display: none">Maximaal @Model.NumberOfImages afbeeldingen.</span>
                    </div>
                }

                @if (Model.AllowVideo) {
                    <div class="form-group">

                        @if (Model.VideoRequired) {
                            <label for="videoIdea" class="control-label">Selecteer minimum 1 video, maximaal @Model.NumberOfVideos video(s)</label>
                        }
                        else {
                            <label for="videoIdea" class="control-label">(Optioneel) Maximaal @Model.NumberOfVideos video(s)</label>
                        }
                        @if (Model.NumberOfVideos > 1) {
                            <input id="videoIdea" type="file" accept=".mp4,.webm,.ogg" name="videoIdea" class="form-control" multiple=""/>
                        }
                        else {
                            <input id="videoIdea" type="file" accept=".mp4,.webm,.ogg" name="videoIdea" class="form-control"/>
                        }
                        <span id="videoIdeaValidation" class="text-danger" style="display: none">Kies een video van het type mp4, webm of ogg! </span>
                        <span id="videoNumberValidation" class="text-danger" style="display: none">Maximaal @Model.NumberOfVideos videos.</span>
                    </div>
                }


                @if (Model.AllowVideoLink) {
                    <div class="form-group">
                        @if (Model.VideoLinkRequired) {
                            <label for="videoLinkIdea" class="control-label">Voeg een youtubelink toe om je idee te versterken</label>
                        }
                        else {
                            <label for="videoLinkIdea" class="control-label">(Optioneel) Voeg een youtubelink toe om je idee te versterken </label>
                        }
                        <input id="videoLinkIdea" type="url" name="videoLinkIdea" class="form-control"/>
                        <span id="videoLinkIdeaValidation" class="text-danger" style="display: none">Zorg voor een werkende youtube link! bv https://www.youtube.com/watch?v=efOzvpdiKTs </span>

                    </div>
                }
                <input type="hidden" name="ideationId" class="form-control" value="@Model.Id" readonly/>

                <input id="createIdeabtn" type="submit" class="btn btn-primary" value="Aanmaken"/>
            </form>
        </div>
    </div>
    <br/>
}

@foreach (var idea in Model.Ideas) {
    if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin"))) {
        <button class="btn btn-outline-dark" id="deleteIdeabtn" ideationId="@Model.Id" ideaId="@idea.Id">Verwijderen</button>
    }
    <div class="card w-100 disableBorder" id="contactBackground">
        <p class="card-header" id="contactHeaders">
            @idea.Title
        </p>
        <div class="card-body">

            @if (@idea.ImageNames != null && @Model.AllowImage) {
                foreach (var imageName in idea.ImageNames) {
                    var ideaImageSource = "~/organisations/" + @ideationPath + "/organisation/projects/ideations/ideas/images/" + imageName.ImageName;
                    <div class="idea_img">
                        <img src="@Url.Content(ideaImageSource)" id="@idea.Id"/>
                    </div>
                }
            }

            @if (@Model.AllowVideo && @idea.VideoNames != null) {
                foreach (var videoName in idea.VideoNames) {
                    var ideaVideoSource = "~/organisations/" + @ideationPath + "/organisation/projects/ideations/ideas/videos/" + videoName.VideoName;
                    if (videoName.VideoName.Contains(".mp4")) {
                        <div class="idea_video">
                            <video width="100%" height="100%" controls="controls">
                                <source src="@Url.Content(ideaVideoSource)" id="@idea.Id" type="video/mp4"/>
                            </video>
                        </div>
                    }
                    if (videoName.VideoName.Contains(".webm")) {
                        <div class="idea_video">
                            <video width="100%" height="100%" controls="controls">
                                <source src="@Url.Content(ideaVideoSource)" id="@idea.Id" type="video/webm"/>
                            </video>
                        </div>
                    }
                    if (videoName.VideoName.Contains(".ogg")) {
                        <div class="idea_video">
                            <video width="100%" height="100%" controls="controls">
                                <source src="@Url.Content(ideaVideoSource)" id="@idea.Id" type="video/ogg"/>
                            </video>
                        </div>
                    }
                }
            }
            @if (Model.AllowVideoLink && @idea.VideoLinkName != null) {
                <div style="height: 80vh" class="idea_videoLink">
                    <iframe style="height: 100%; width: 100%" src="https://www.youtube.com/embed/@idea.VideoLinkName" allowfullscreen>
                    </iframe>
                </div>
            }


            <p class="card-text">@idea.Description</p>
            <ul>
                <section class="form-block" id="sectie_like_share">
                    <li>
                        <p class="d-inline">
                            Aantal keer geliked:
                            <a id="like_@idea.Id">
                                <i class="number_likes_shares " id="number-likes_@idea.Id">@idea.Likes.Count()</i>
                            </a>
                        </p>
                    </li>
                    <br/>
                    <li>
                        <p class="d-inline">
                            Aantal keer gedeeld:
                            <a id="share_@idea.Id">
                                <i class="number_likes_shares" id="number-shares_@idea.Id">@idea.Shares.Count()</i>
                            </a>
                        </p>
                    </li>

                </section>
            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                if (InputManager.GetLikesOfUser(UserManager.GetUserId(User)).Count(l => idea.Likes.Contains(l))==0)
                {
                    <div class="like-content text-center">
                        <a class="btn-secondary like-review like-idea" iid="@idea.Id" uid="@UserManager.GetUserId(User)">
                            <i class="fa fa-heart" aria-hidden="true" iid="@idea.Id" uid="@UserManager.GetUserId(User)"></i> Vind ik leuk
                        </a>
                    </div>
                }
                else
                {
                    <div class="like-content text-center">
                        <a class="w3-button w3-green">Je hebt dit al leuk gevonden</a>
                    </div>
                }
            }
            else
            {
                <div class="like-content text-center">
                    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Log in om dit leuk te vinden!</a>
                </div>
            }


            <ul class="shareIcons">
                <div id="share">
                    <!-- facebook -->
                    <a iid="@idea.Id" class="facebook share-idea" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@Url.Link(null, null)/detail/@idea.Id&amp;src=sdkpreparse" >
                        <i class="fa fa-facebook" iid="@idea.Id"></i>
                    </a>
                    <!-- twitter -->
                    <a class="twitter share-idea" href="https://twitter.com/intent/tweet?text=I%20just%20went%20to @Url.Link(null,null)">
                        <i iid="@idea.Id" class="fa fa-twitter"></i>
                    </a>
                </div>


            </ul>
        </div>


        <div style="word-wrap: break-word; width: 90%" id="reactions_@idea.Id" class="reactionField">

            <hr/>
            <h3 class="text-center">Reacties</h3>


            @foreach (Reaction reaction in idea.Reactions.ToList()) {
                if (!reaction.Deleted) {
                    <div class="reaction">
                        <div class="card-body">
                            <p style="display: inline">
                                @reaction.User.UserName
                                <div class="dropdown show" style="display: inline; float: right">
                                    <i class="fas fa-ellipsis-v dropdown-toggle point" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </i>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#modal_@reaction.Id">
                                            <i class="fas fa-exclamation-triangle point"> Rapporteer</i>
                                        </a>
                                    </div>
                                </div>
                            </p>
                            <hr/>
                            <p class="text-center">@reaction.Comment</p>
                        </div>
                    </div>
                    <br/>
                }
            }
            <!-- Modal -->
            @foreach (var reaction in idea.Reactions.ToList()) {
                <div class="modal fade" id="modal_@reaction.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">@idea.Title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post" action="">
                                <div class="modal-body ">


                                    <label for="reason">Reden:</label>
                                    <select name="reason" class="reason_@reaction.Id">
                                        <option value="Language">Ongepast taalgebruik</option>
                                        <option value="commercial">Reclame</option>
                                        <option value="unneccesairy">Deze reactie heeft niets met het idee te maken</option>
                                    </select>
                                    <label for="remarks">Opmerkingen:</label>
                                    <textarea class="remarks_textbox_@reaction.Id" name="remarks" placeholder="plaats hier uw opmerkingen"></textarea>
                                    <input type="hidden" value="@reaction.Id"/>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-closeModal" rid="@reaction.Id" data-dismiss="modal">Annuleren</button>
                                    <button type="submit" class="btn btn-primary btn-submit" rid="@reaction.Id" data-dismiss="modal">Verzenden</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            }
        </div>

        @if (User.Identity.IsAuthenticated) {
            <textarea class="reactionField" style="width: 90%; resize: vertical" placeholder="typ hier jouw reactie" id="text_@idea.Id"></textarea>
            <br/>
            <a class="btn btn-primary reactbutton" iid="@idea.Id" uN="@RealUserManager.GetUser(UserManager.GetUserId(User)).UserName">Reactie plaatsen</a>
        }
        else {
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">login om te reageren</a>
        }

    </div>
    <br/>
    <br/>
}
</div>
</div>
</body>
</html>