﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*opmaak voor breadcrumbs*/
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*opmaak aantal likes & shares*/
.number_likes_shares {

}
/*opmaak like_share*/
#sectie_like_share a {
    
}
/*opmaak voor like button*/
.like-content .btn-secondary {
    display: inline-block;
    
    text-align: center;
    background: #ed2553;
    border-radius: 3px;

    padding: 10px 17px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff !important;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.like-content .btn-secondary:hover {
    transform: translateY(-3px);
}
.like-content .btn-secondary .fa {
    margin-right: 5px;
}
.animate-like {
    animation-name: likeAnimation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 0.65s;
}
@keyframes likeAnimation {
    0%   { transform: scale(30); }
    100% { transform: scale(1); }
}

/*opmaak voor share button*/
#share {
    width: 100%;
    display: inline;
    text-align: center;
}

/* buttons */

#share a {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 8px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    opacity: 0.75;
    transition: opacity 0.15s linear;
}

#share a:hover {
    opacity: 1;
}

/* icons */

#share i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* colors */

.facebook {
    background: #3b5998;
}

.twitter {
    background: #55acee;
}

.googleplus {
    background: #dd4b39;
}
/*opmaak voor projectpagina*/
.section_project{
    display: inline;
    width: 30%;
    float: left;
    max-width: 100%;
    text-align: center;
    margin-left: 2.5%;
    margin-bottom: 3%;
    padding: 1%;
    background: #28464B;
    border-radius: 5%;
}
.section_project img {
    float: top;
    width: 100%;
    height: 30%;
}
/*opmaak voor de project detail pagina*/
.section_project_detail {
    overflow: hidden;
    padding-top: 3%;

}
.section_background_project_detail {
    background: white;
    border-radius: 25px;
}
#details {
    padding: 5% 5% 5% 5%;
    text-align: center;
}
#details img{
    float: left;
    width: 35%;
}
.detail_description_likes_shares {
    display: inline;
}
.detail_description_likes_shares article {
    display: inline;
}
.project_datums {
    display: inline;
    font-weight: bold;
}
#einddatum {
    float:right;
}
#doelstelling {
    padding-top: 3%;

}
#detail_titles {
    padding: 3%;
    text-align: center;
    background: darkseagreen;
    color: white;
    border-radius: 25px;
}
#doelstelling_achtergrond {
    background-color: white;
    border-radius: 25px;
    padding: 2%;
}
#vragenlijst_buttons {
    text-align: center;
}
.vragenlijst_toevoegen_button {
    float: right;
}
#short_questionlist {
    background: white;
    border-radius: 25px;
    padding: 2%;
}
.jumbotron{
    background: white;
}



.reaction{
    background-color: #6c757d;
    border-radius: 15px;
    padding: 5px;
}

.remarks_textbox{
    width: 100%;
}

.point{
    cursor: pointer;
}

.dropdown-toggle::after{
    display: none;
}
.idea_img img{
    float: top;
    width: 30%;
    height: 20%;
}
.idea_videoLink{
    float: top;
    width: 100%;
    height: 100%;
}

thead{
    
}
body{
    background: #2F2D2E;
  
}
nav {
    padding: 10px;
    margin-bottom: 2%;
}
#navbar {
    transition: 0.6s;
   
}
.navbar {
    background-color: #69140E;
    
}
.navbar-brand {
    font-size: 40px;
    padding: 1%;
    color: #ffffff ;
    transition: 0.6s;
}
.navbar-brand:hover {
    color:white;
}
.nav-link {
    color: white !important;
    position: relative;
    opacity: .75;
    cursor: pointer;
    transition: opacity .25s cubic-bezier(.4,.25,.3,1);
}
.nav-link:hover {
    opacity: 1;
    text-transform: uppercase;
}
.jumbotron {
    height: 100vh;
    min-height: 500px;
    background-size: cover, contain;
    background: url('../images/header.jpg') no-repeat center;
}


.btn {
    display: inline-block;
    border: none;
    background-color: #A9927D;
    color: white;
}
.rounded-btn {
    transition: all .25s cubic-bezier(.4,.25,.3,1);
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: .3em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    font-size: .875em;
    line-height: normal;
    opacity: .7;
    outline: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-left: 8% !important;
}
.signin-btn {
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    position: relative;
    display: inline-block;
    color: white;
    padding: .1em 1.2em 0;
    border: 1px solid white;
    border-radius: .3em;
    line-height: 2.2em;
    vertical-align: middle;
    text-align: center;
    opacity: .7;
    transition: opacity .25s,color 275ms;
    transition-timing-function: cubic-bezier(.4,.25,.3,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.signin-btn:hover {
    opacity: 1 !important;
    text-underline: none !important;
    color: white;
}
.rounded-btn:hover {
    opacity: 1;
}
.navbar-margin {
    margin-right: 5% !important;
}



table{
    margin: 3rem;
}

.delete{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e9ecef;
}

.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
    display: table;
    content: ' ';
}

.timeline > li:after {
    clear: both;
}

.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #28464B;
}

.timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline > li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline > li {
        min-height: 100px;
        margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline > li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline > li .timeline-image h4 {
        margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
    }
}
.timeline-text {
    color: white !important;
}
.fa-circle {
    color: #28464B !important;
}
.font-weight-light,.lead {
    color: white;
}

.result-item__hover {
    background: #eee;
}
.alert-info {
     background-color: transparent !important;
     border: none;
 }
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
#organisation-image {
    width: 100% !important;
}
.image-logo {
    width: 20% !important;
    height: 20% !important;
    margin-right: 5% !important;
}
.carousel-caption {
    top: 0;
    bottom: auto;
}

.cat{
    cursor: pointer;
}

.cat:hover{
    text-transform: uppercase;
    background-color: lightgray;
}
#organisationImage {
    width: 900px !important;
    height: 400px !important;
}
footer {
    background-color: #A9927D;
    color: white !important;
    border-radius: 15px;
}
#organisationLogo {
    height: 400px !important;
}
#projectDetail {
    width: 750px !important;
    height: 500px !important;
    border-radius: 15px;
}
nav {
    position: fixed;
  
}
#featuredTextBackground {
    background-color: #28464B !important;
}
h1, h2, h3, h4, ul,  .timeline-heading {
    color: white;
}
hr {
    background-color: dimgrey;
}
.list-group-item {
    background-color: #A9927D;
    color: white !important;
}
.list-group-item:hover {
    background-color: dimgrey;
}
#projectIndex {
    background-color: #28464B;
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.greenBackground {
    background-color: #28464B;
    border-radius: 15px;
}
p {
    color: white;
}
.shareIcons {
    padding: 0;
    text-align: center;
}
#list:hover {
    background-color: dimgrey !important;
}

#contactBackground {
    background-color: #28464B;
    color: white !important;
    border: #28464B !important;
    
}
#contactHeaders {
    background-color: #a56b35!important;
}
.disableBorder {
    border: none !important;
}
#textColor {
    color: white !important;
}
#relatedProjects {
    
}
h1, h2 {
    background-color: #69140E!important ;
    padding: 2%;
    border-radius: 15px;
}
@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 31.7% !important;
    }
}
#regularHeaders {
    background-color: transparent!important ;
    padding: 0;
}
.detailCards {
    height: 100% !important;
}
.image_hover {
    position: center;
    
    background: #69140E;
    color: #fff;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}
.hoverImage:hover .image_hover {
    visibility: visible;
    opacity: 1;
}
#relatedImage {
    height: 200px !important;
    width: 300px !important;
}
#questionListType {
    width: 200px;
}
.dateCards {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
.reactionField {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
.table {
    margin-left: 0px !important;
}