﻿
@model PoC.Domain.organisation.Organisation

@{
    ViewData["Title"] = "Contact";
}

@section Scripts
{
    <script type="module" src="~/dist/validation.entry.js" defer></script>
}

<body>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card disableBorder">
                <div class="card-header bg-primary text-white" id="contactHeaders"><i class="fa fa-envelope" ></i> Contacteer ons.
                </div>
                <div class="card-body" id="contactBackground">
                    <form>
                        <div class="form-group">
                            <label for="name">Voor- en achternaam</label>
                            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email adres</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                            <small id="emailHelp" class="form-text text-muted">We zullen uw email adres niet met iemand anders delen.</small>
                        </div>
                        <div class="form-group">
                            <label for="message">Boodschap</label>
                            <textarea class="form-control" id="message" rows="6" required></textarea>
                        </div>
                        <div class="mx-auto">
                        <button type="submit" class="btn btn-primary text-right">Verzend</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card mb-3 disableBorder">
                <div class="card-header bg-success text-white text-uppercase" id="contactHeaders"><i class="fa fa-home"> </i> Adres en contact gegevens</div>
                <div class="card-body" id="contactBackground">
                    <p>@Model.Street</p>
                    <p>@Model.City</p>
                    <p>@Model.Country</p>
                    <p>Email : @Model.Email</p>
                    <p>Tel. @Model.TelephoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
