﻿@model PoC.Domain.organisation.Organisation


@{
    var organisationImagePath = ViewData["organisationImage"];
    var imageSource = "~/organisations/" + organisationImagePath + "/organisation/images/" + Model.Image;
}
<body>
<div class="container">
    <div class="row align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src=@Url.Content(imageSource) alt="organisation image">
        </div>
        <div class="col-lg-5">
            <div class="text-center">
                <h1>@Model.Name</h1>
                <p id="textColor">@Model.Description</p>
                <a class="btn btn-primary " asp-controller="Project" asp-action="Index">Ga naar het projectoverzicht! </a>
            </div>
        </div>
    </div>
    <div class="card text-white bg-secondary my-5 py-4 text-center" id="featuredTextBackground">
        <div class="card-body">
            <h4 class="text-white m-0">@Model.FeaturedText</h4>
        </div>
    </div>
</div>

</body>