﻿

@{
    ViewData["Title"] = "Home Page";
    
  if (User.IsInRole("SuperAdmin")) {
       Layout = "_Layout_Super_Home";
     }
     else {
       Layout = "_LayoutHome";
     }
}

@{
    <script type="module" src="~/dist/index.entry.js" defer></script>
    <script type="module" src="dist/site.entry.js" defer></script>
    <script type="module" src="dist/bootstrap_js.entry.js" defer></script>
    
   
}

<header class="jumbotron">
  <div class="container">
    <div class="row ">
      <div class="col-12 text-center">
        <br/>
        <br/>
        <br/>
        <br/>
        <h1 class="font-weight-light" id="regularHeaders">Welkom bij City of Ideas!</h1>
        <p class="lead">Werk met ons samen om het leven in jouw stad te verbeteren. Uw mening telt!</p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="font-weight-light" id="regularHeaders">Zoek een deelnemende organisatie in jouw buurt</h2>
            <div class="alert alert-info">
              <div>
                <div class="row justify-content-center">
                  <div class="col-12">
                    <form class="text-center mt-3 search-form">
                      <form autocomplete="off" action="/action_page.php">
                        <div class="autocomplete form-row">
                          <input id="myInput" class="form-control col-12" type="text" name="myCountry" placeholder="Organisatie - postcode" autocomplete="off">
                          <a hidden="true" id="navigate" href="" class="btn btn-primary submitsearch">Ga naar het platform</a>
                        </div>
                        
                      </form>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>
        </div>
      </div>
    </div>
  </div>
</header>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="text-uppercase">Ons aanbod</h2>
            <h3>Hier onder vind je de diensten die we aanbieden op dit platform</h3>
            <br/>
        </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Reageren</h4>
        <p>Indien je een account hebt aangemaakt kan je op projecten, ideeën en reacties van andere mensen reageren.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-reply fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Content delen</h4>
        <p>Ligt er jou iets nauw aan het hart? Dan is er altijd de mogelijkheid om dat idee of project te delen op sociale media om er zo meer aandacht op te vestigen.</p>
      </div>
        <div class="col-md-4" id="about">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-lightbulb fa-stack-1x fa-inverse"></i>
            </span>
            <h4>Ideeën geven</h4>
            <p>Jouw mening telt, en als je denkt dat je zelf een beter idee hebt ben je vrij om dit idee te posten.</p>
        </div>
    </div>
</div>
<br/>
<div></div>
<br/>
<br/>
<br/>
 <div class="container" >
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="text-uppercase" >Over ons</h2>
          <h3>Kom te weten hoe en waarom dit project is ontstaan</h3>
          <br/>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
           
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>De noodzaak</h4>
                </div>
                <div class="timeline-body">
                  <p>Tegenwoordig vinden politici en bestuursleden van steden het steeds belangrijker om de bevolking bij beslissingen te betrekken. Hierdoor ontstond de vraag naar een platform waar bestuursorganen hun ideeën of vragen konden voorleggen aan de gewone burger.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
          
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Treecompany</h4>
                </div>
                <div class="timeline-body">
                  <p>Als ontwikkelaar werd er voor Treecompany gekozen omdat Treecompany zichzelf specialiseert in online webplatformen die bestemd zijn om de mening van burgers te vragen. Zo stelden ze onder meer reeds een gelijkaardig platform op voor de zorg sector. </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
             
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Internet of Things</h4>
                </div>
                <div class="timeline-body">
                  <p>Omdat het de bedoeling is om zo veel mogelijk burgers aan te spreken werd er beslist dat dit platform uitgebreid werd met een mobiele opstelling. Deze mobiele opstelling zorgt er voor dat meer mensen zich bewust worden van het project en dat ze op een eenvoudige manier reeds hun mening kunnen geven.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
             
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Het resultaat</h4>
                </div>
                <div class="timeline-body">
                  <p>De projecten die aangemaakt worden op dit webplatform zijn beïnvloedbaar door de gewone burger. Er wordt rekening gehouden met nieuwe ideeën, meningen op voorgestelde ideeën en het aantal "likes" en "shares".</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image timeline-text">
                <h4>Uw 
                  <br>Mening
                  <br>Telt!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
</body>